<!--
  No-user Placeholder | Cannlytics Website
  Created: 6/20/2023
  Updated: 10/2/2024
-->
{% load static %}

<!-- Sign In Prompt -->
<section class="no-user-only visually-hidden container d-flex justify-content-center my-5">
  <div class="markdown py-5" style="max-width:560px;">
    {% comment %}
    <!-- FIXME: Better image -->
    <svg class="pe-3 pt-3" style="float:left;width:125px;height:125px;">
      <use href="{% static "website/images/emojies/newspaper.svg" %}#newspaper-emoji"></use>
    </svg>
    {% endcomment %}
    <h2 class="pt-4 text-dark sans-serif mb-0">{{ title }}</h2>
    <p class="mt-2 sans-serif-text fs-5">
      {{ description }}
    </p>
    <div class="d-flex justify-content-center mt-3">
      <a
        class="btn bg-gradient-green text-white mx-2"
        href="{% url 'section' page='account' section='sign-in' %}"
      >
        Sign in
      </a>
      <a
        class="btn bg-gradient-orange text-white mx-2"
        href="{% url 'section' page='account' section='sign-up' %}"
      >
        Sign Up
      </a>
    </div>
  </div>
</section>
