<!--
  Data Type Selection
  Created: 9/28/2024
  Updated: 10/1/2024
-->
<div 
  class="btn-group btn-group-sm my-2" 
  role="group" 
  aria-label="Data type selection"
  data-group="data-type"
>

  <!-- All -->
  <button 
    type="button" 
    class="btn btn-primary" 
    id="btn-all" 
    onclick="cannlytics.search.selectDataType('all')"
  >
    All
  </button>

  <!-- COAs -->
  <button 
    type="button" 
    class="btn btn-outline-primary" 
    id="btn-coas" 
    onclick="cannlytics.search.selectDataType('coas')"
  >
    COAs
  </button>

  <!-- Results -->
  <button 
    type="button" 
    class="btn btn-outline-primary" 
    id="btn-results" 
    onclick="cannlytics.search.selectDataType('results')"
  >
    Results
  </button>

  <!-- Strains -->
  <button 
    type="button" 
    class="btn btn-outline-primary" 
    id="btn-strains" 
    onclick="cannlytics.search.selectDataType('strains')"
  >
    Strains
  </button>

  <!-- Orgs -->
  <button 
    type="button" 
    class="btn btn-outline-primary" 
    id="btn-organizations" 
    onclick="cannlytics.search.selectDataType('organizations')"
  >
    Orgs
  </button>

  <!-- Compounds -->
  <button 
    type="button" 
    class="btn btn-outline-primary" 
    id="btn-compounds" 
    onclick="cannlytics.search.selectDataType('compounds')"
  >
    Compounds
  </button>

</div>
