<!--
  Date Selection
  Created: 3/24/2024
  Updated: 3/24/2024
-->
<style>
  .filter-date-tested {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust based on your design */
  }
  
  .filter-date-tested button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-date-tested button:hover {
    background-color: #0056b3;
  }
</style>

<div class="filter-date-tested" style="max-width:540px;">

  <!-- Start date -->
  <input 
    type="text" 
    class="form-control form-control-sm datepicker" 
    id="dateTestedStart" 
    placeholder="Select start date"
  >

  <span>to</span>

  <!-- End date -->
  <input 
    type="text" 
    class="form-control form-control-sm datepicker" 
    id="dateTestedEnd" 
    placeholder="Select end date"
  >

</div>

<script>
document.addEventListener('DOMContentLoaded', function() {

  // Render the date picker for both start and end date inputs.
  const currentDate = new Date();
  $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    autoclose: true,
    todayHighlight: true,
    endDate: currentDate,
  });
  const startDateInput = $('#dateTestedStart');
  const endDateInput = $('#dateTestedEnd');
  const firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
  $('#dateTestedStart').datepicker('setDate', firstDayOfMonth);
  $('#dateTestedEnd').datepicker('setDate', currentDate);

});
</script>
