<!doctype html>
<html>
<!--
  Search
  Created: 2/26/2024
  Updated: 9/21/2024
-->
  <div class="input-group my-3 mx-2 w-50">
    {% comment %} <button
      class="btn btn-outline-primary"
      type="button"
      id="addButton"
    >
      <i class="bi bi-plus"></i>
    </button> {% endcomment %}
    <input
      id="searchInput"
      type="text"
      class="form-control"
      placeholder="{{ placeholder_text | default:'Prompt...'}}"
      aria-label="Prompt"
    >
    <button
      class="btn btn-outline-primary"
      type="button"
      id="filterButton"
    >
      <i class="bi bi-search-heart"></i>
    </button>
  </div>

  <!-- TODO: Search by category
   
  Wishlist:

    - Search for a given chemical

    - Search for a given product

    - Search for a given strain

    - Search for a result URL (search by URL hash then parse if needed)

    - Search results by uploading a PDF (search by file hash then parse if needed)

    - Search by uploading an image:
      * COA
      * Label
      * Receipt

    - Use OpenAI to create query (collection + filters)


    - Search gets 1- 3 at a time.
  
  -->

</html>
