<!--
  State Selection
  Created: 3/24/2024
  Updated: 9/28/2024
-->
<div 
  class="btn-group btn-group-sm" 
  role="group" 
  aria-label="State selection"
  data-group="state"
>

  <!-- All -->
  <button 
    type="button" 
    class="btn btn-primary" 
    id="btnALL" 
    onclick="selectState('ALL')"
  >
    All
  </button>

  <!-- CA -->
  <button 
    type="button" 
    class="btn btn-outline-primary" 
    id="btnCA" 
    onclick="selectState('CA')"
  >
    CA
  </button>

  <!-- FL -->
  <button 
    type="button" 
    class="btn btn-outline-primary" 
    id="btnFL" 
    onclick="selectState('FL')"
  >
    FL
  </button>

</div>
