<!doctype html>
<html>
<!--
  Subscriptions Page
  Created: 1/17/2021
  Updated: 11/15/2021
-->
{% extends "website/index.html" %}
{% load static %}
{% block title %}Subscriptions | {{ general.title }}{% endblock %}
{% block material %}

  <!-- Hero Banner -->
  {% include "website/components/heros/hero_banner.html" with
    title="Subscriptions"
    description="Manage your Cannlytics subscriptions."
    background_image="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/public%2Fimages%2Fbackgrounds%2Fmisc%2FIllustration_Cannabis_sativa0.jpg?alt=media&token=7c1f2d17-1df6-46b4-b698-21eb5cc5c174"
    background_position="80% 80%"
    only
  %}

  <!-- Pricing Options -->
  <div class="container mb-5 mt-3">
    <div class="markdown w-75 py-5">
      <h1 class="pt-4 text-dark">📜 Subscription options</h1>
      <p>
        Explore the options that you have to subscribe to Cannlytics
        material. Get a premium subscription
        and get access to all whitepapers and videos. When you go premium,
        you will also receive first access to published data sets.
      </p>
    </div>

    <!-- Free Tier -->
    <div class="row justify-content-center mb-3 text-center">
      <div class="col-12 col-md-5">
        <div class="card h-100 mb-4 shadow-sm">
          <div class="card-header bg-gradient-green">
            <h4 class="font-weight-normal text-white my-0">Free</h4>
          </div>
          <div class="card-body bg-transparent d-flex flex-column justify-content-between align-items-center">
            <h1 class="card-title pricing-card-title fs-4 mt-3">
              👐
            </h1>
            <ul class="text-dark list-unstyled text-start w-75">
              <li class="fs-6 mb-1"><small class="serif text-dark">✔️ Community material</small></li>
              <li class="fs-6 mb-1"><small class="serif text-dark">✔️ Analytics console</small></li>
              <li class="fs-6 mb-1"><small class="serif text-muted">❌ Access to all videos</small></li>
              <li class="fs-6 mb-1"><small class="serif text-muted">❌ Access to all whitepapers</small></li>
              <li class="fs-6 mb-1"><small class="serif text-muted">❌ First access to data sets</small></li>
            </ul>
            <a
              class="btn w-100 bg-gradient-green serif text-white"
              href="https://console.cannlytics.com"
            >
              Sign up for free
            </a>
          </div>
        </div>
      </div>

      <!-- Premium Tier -->
      <div class="col-12 col-md-5">
        <div class="card h-100 mb-4 shadow-sm">
          <div class="card-header bg-gradient-orange">
            <h4 class="text-white my-0 font-weight-normal">Premium</h4>
          </div>
          <div class="card-body bg-transparent d-flex flex-column justify-content-between align-items-center">
            <h1 class="serif text-dark card-title pricing-card-title fs-4 mt-3">
              $4.20 <small class="text-dark simple-serif">/ mo.</small>
            </h1>
            <ul class="text-dark list-unstyled text-start w-75">
              <li class="fs-6 mb-1"><small class="serif text-dark">✔️ Community material</small></li>
              <li class="fs-6 mb-1"><small class="serif text-dark">✔️ Analytics console</small></li>
              <li class="fs-6 mb-1"><small class="serif text-dark">✔️ Access to all videos</small></li>
              <li class="fs-6 mb-1"><small class="serif text-dark">✔️ Access to all whitepapers</small></li>
              <li class="fs-6 mb-1"><small class="serif text-dark">✔️ First access to data sets</small></li>
            </ul>
            <a
              id="premium-button"
              type="button"
              class="btn w-100 bg-gradient-orange serif text-white"
              href="/subscriptions/checkout?id="
            >
              Go premium
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Call out -->
    <div class="markdown mt-5">
      <p class="w-75">
        If you have a topic that you would like addressed in an upcoming
        whitepaper or video, then please email our editor at
        <a href="mailto:contact@cannlytics.com">contact@cannlytics.com</a>.
      </p>
    </div>

  </div>

  <!-- Vines -->
  {% include "website/components/art/vines.html" %}

{% endblock %}

<!-- JavaScript -->
{% block page_js %}
  <script>
    // Get PayPal subscription plan ID from Firestore.
    cannlytics.website.getSubscription('Newsletter').then(function (subscriptionData) {
      var planId = subscriptionData.plan_id;
      document.getElementById('premium-button').href = `/subscriptions/checkout?id=${planId}`;
    });
  </script>
{% endblock %}

</html>
