<!doctype html>
<html>
<!--
  Index Template | Cannlytics Website
  Created: 1/7/2021
  Updated: 11/25/2021
-->
{% extends "website/base.html" %}
{% load static %}
{% block page %}

  <!-- Header -->
  {% include "website/layout/header.html" %}

  <!-- Material -->
  <div id="material">{% block material %}{% endblock %}</div>

  <!-- Footer -->
  {% include "website/layout/footer.html" %}

  <!-- Subscribe Dialog -->
  {% include "website/components/dialogs/subscribe_dialog.html" %}

  <!-- Login Dialog -->
  {% include "website/components/dialogs/login_dialog.html" %}

  <!-- Cookie Notification -->
  {% include "website/components/dialogs/cookie_notification.html" %}

  <!-- General Notifications -->
  {% include "website/components/notifications/notification_toast.html" %}

{% endblock %}
</html>
