<!doctype html>
<html>
<!--
  Data Market Page | Cannlytics
  Created: 10/14/2021
  Updated: 10/16/2021
  License: GPLv3 - Required for Isotope and InfiniteScroll
-->
{% extends "website/index.html" %}
{% load static icon get_env %}
{% block title %}Data Market | Cannlytics{% endblock %}
{% block page_css %}

  <style>
    .card {
      margin-bottom:2%;
    }
    .grid__col-sizer,
    .photo-item {
      width: 32%;
    }
    .grid__gutter-sizer {
      width: 2%;
    }
    @media only screen and (max-width: 480px) {
      .grid__col-sizer,
      .photo-item {
        width: 98%;
      }
    }
    .photo-item__image {
      display: block;
      max-width: 100%;
    }
    .photo-item__caption a {
      color: black;
      font-size: 0.8em;
      text-decoration: none;
    }
    .page-load-status {
      display: none; /* hidden by default */
      padding-top: 20px;
      border-top: 1px solid #DDD;
      text-align: center;
      color: #777;
    }
    .loader-ellips {
      font-size: 20px; /* change size here */
      position: relative;
      width: 4em;
      height: 1em;
      margin: 10px auto;
    }
    .loader-ellips__dot {
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 0.5em;
      background: #555; /* change color here */
      position: absolute;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
    .loader-ellips__dot:nth-child(1),
    .loader-ellips__dot:nth-child(2) {
      left: 0;
    }
    .loader-ellips__dot:nth-child(3) { left: 1.5em; }
    .loader-ellips__dot:nth-child(4) { left: 3em; }

    @keyframes reveal {
      from { transform: scale(0.001); }
      to { transform: scale(1); }
    }
    @keyframes slide {
      to { transform: translateX(1.5em) }
    }
    .loader-ellips__dot:nth-child(1) {
      animation-name: reveal;
    }
    .loader-ellips__dot:nth-child(2),
    .loader-ellips__dot:nth-child(3) {
      animation-name: slide;
    }

    .loader-ellips__dot:nth-child(4) {
      animation-name: reveal;
      animation-direction: reverse;
    }
  </style>

{% endblock page_css %}
{% block material %}

  <!-- Banner -->
  {% comment %} {% include "website/components/heros/hero_banner.html" with
    title='Data Market'
    description='Browse the Data Market.'
    background_image='https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/public%2Fimages%2Fbackgrounds%2Fmisc%2Fvictorian_ransom.jpg?alt=media&token=159b4792-ac98-4c97-8e5d-109d8228d5ac'
    image_url=' '
    only
  %} {% endcomment %}

  <!-- Section -->
  <section class="container mb-2">

    <!-- Title -->
    <div class="d-flex align-items-center justify-content-between pt-5 mb-3">
      <h2 class="serif mb-0">Data Market</h2>
      <div class="d-flex align-items-center">
        <button class="btn btn-sm-light text-nowrap me-2">
          {% icon "credit-card" width="16px" height="16px" class="me-1" %}
          Connect Wallet
        </button>
        <a class="btn btn-sm-light me-2" href="{% url 'section' 'data' 'publish' %}">
          Publish
        </a>
        <a class="btn btn-sm-light" href="{% url 'page' 'profile' %}">
          Profile
        </a>
        
      </div>
    </div>

    <!-- Options -->
    <div class="mt-3 d-flex align-items-center justify-content-between">
      
      <!-- TODO: Tabs with Stats -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link fs-6 {% if request.GET.table == 'profiles' %}active{% endif %}"
            aria-current="page"
            href="./?table=profiles"
          >
            <small class="serif"><span id="total_profiles"></span> Profiles</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6 {% if request.GET.table == 'datasets' or not request.GET.table %}active{% endif %}" href="./?table=datasets">
            <small class="serif"><span id="total_datasets"></span>  Data Sets</small>
          </a>
        </li>
      </ul>

      <!-- Filters -->
      <div class="d-flex align-items-center">

        <!-- Sort select -->
        <select
          class="form-select form-select-sm btn-sm-light me-2"
          aria-label="Default select example"
          style="width:150px;"
        >
          <option selected value="date-new">Date Listed: Newest</option>
          <option value="date-old">Date Listed: Oldest</option>
          <option value="price-high">Price: Highest</option>
          <option value="price-low">Price: Lowest</option>
        </select>

        <!-- Currency select -->
        <select
          class="form-select form-select-sm btn-sm-light"
          aria-label="Select currency"
        >
          <option selected value="usd">USD ($)</option>
          <option value="eur">EUR (€)</option>
          <option value="btc">BTC (₿)</option>
          <option value="eth">ETH (Ξ)</option>
        </select>

      </div><!-- End of filters -->

    </div><!-- End of options -->

    <!-- TODO: Buy dataset(s) -->
    <!-- Sidepanel of filters and grid of data sets -->
    <div class="container px-3">

      <div class="d-flex">

      <!-- Sidebar options -->
      <div
        class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
        style="width: 280px;"
      >
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Default checkbox
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
          <label class="form-check-label" for="defaultCheck2">
            Disabled checkbox
          </label>
        </div>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div><!-- End of sidebar -->

      <!-- Grid -->
      {% comment %} {% include "website/pages/data/data_components/market_datasets.html" %} {% endcomment %}
      <!-- Grid -->
      <div class="grid">
        <div class="grid__col-sizer"></div>
        <div class="grid__gutter-sizer"></div>
      </div>

      <!-- Loading status -->
      <div class="page-load-status">
        <div class="loader-ellips infinite-scroll-request">
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
        </div>
        <p class="infinite-scroll-last">End of content</p>
        <p class="infinite-scroll-error">No more pages to load</p>
      </div>
      {% comment %} <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          <div>
        </div>
      </div><!-- End of grid --> {% endcomment %}

      </div>

    </div><!-- End of sidepanel -->


    <!-- TODO: Table of high liquidity data sets -->
    {% comment %} <h5 class="sans-serif text-dark fs-5 mt-5 mb-3">Highest Liquidity</h5> {% endcomment %}


    <!-- TODO: Table of recently published data sets -->
    {% comment %} <h5 class="sans-serif text-dark fs-5 mt-5 mb-3">Recently Published</h5> {% endcomment %}
    

  </section><!-- End of section -->

{% endblock material %}

<!-- JavaScript -->
{% block page_js %}

  <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="{% static "website/js/tether/tether.min.js" %}"></script>

  <script type="text/html" id="photo-item-template">
    <div class="photo-item card">
      <img class="photo-item__image card-img-top" src="\{\{urls.regular\}\}" alt="Photo by \{\{user.name\}\}" />
      <div class="card-block">
      <p class="photo-item__caption card-text mx-auto">
        <a href="">\{\{user.name\}\} - <small>\{\{user.location\}\}</small>
          <img class="rounded-circle" src="\{\{user.profile_image.medium\}\}" alt="Photo by \{\{user.name\}\}" />
        </a>
        
      </p>
      </div>
    </div>
  </script>

  <script>

    // Get state data from Firestore.
    cannlytics.data.getDataMarketStats().then(function(response) {

      // Set the number of profiles and datasets.
      document.getElementById('total_profiles').value = response.total_profiles ?? 0;
      document.getElementById('total_datasets').value = response.total_datasets ?? 0;

    });

    // Render dataset grid.
    {% comment %} var $grid = new Isotope('.grid', {
      itemSelector: '.photo-item',
      masonry: {
        columnWidth: '.grid__col-sizer',
        gutter: '.grid__gutter-sizer',
      },
      percentPosition: true,
      stagger: 30,
      // nicer reveal transition
      visibleStyle: { transform: 'translateY(0)', opacity: 1 },
      hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
    }); {% endcomment %}
    var $grid = $('.grid').isotope({
      itemSelector: '.photo-item',
      masonry: {
        columnWidth: '.grid__col-sizer',
        gutter: '.grid__gutter-sizer',
      },
      percentPosition: true,
      stagger: 30,
      // nicer reveal transition
      visibleStyle: { transform: 'translateY(0)', opacity: 1 },
      hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
    });

    //------------------//

    // Get an API key for your demos at https://unsplash.com/developers
    // var unsplashID = "{{ 'UNSPLASH_API_KEY'|get_env }}";
    var unsplashID = '-zVarlTM3CYtTm1voQYe6r-CMD-MinuM2CqkRFOJ4J8';
    console.log('Unsplash ID:', unsplashID);

    // get Masonry instance
    var iso = $grid.data('isotope');

    $grid.infiniteScroll({
      // use path string with # for page number
      path: 'https://api.unsplash.com/photos?page=\{\{#\}\}&client_id=' + unsplashID,
      // load response as flat text
      responseType: 'text',
      outlayer: iso,
      status: '.page-load-status',
      history: false,
    });


    $grid.on('load.infiniteScroll', function(event, response) {
      console.log(response)
      // parse response into JSON data
      var data = JSON.parse(response);
      // compile data into HTML
      var itemsHTML = data.map(getItemHTML).join('');
      // convert HTML string into elements
      var $items = $(itemsHTML);
      // append item elements
      $items.imagesLoaded( function() {
        $grid.infiniteScroll('appendItems', $items)
          .isotope('appended', $items);
      })
    });

    // load initial page
    $grid.infiniteScroll('loadNextPage');


    //------------------//

    var itemTemplateSrc = $('#photo-item-template').html();

    function getItemHTML( photo ) {
      return microTemplate( itemTemplateSrc, photo );
    }

    // Micro templating.
    function microTemplate( src, data ) {
      // replace {{tags}} in source
      return src.replace( /\{\{([\w\-_\.]+)\}\}/gi, function(match, key) {
        // walk through objects to get value
        var value = data;
        console.log('Data:', value);
        key.split('.').forEach(function(part) {
          value = value[part];
        });
        return value;
      });
    }

  </script>

{% endblock page_js %}
