# Ignore logs.
logs
*.log
npm-debug.log*

# Ignore coverage directory used by tools like istanbul.
coverage

# Ignore Node dependency directories.
node_modules/

# Ignore optional npm cache directory.
.npm

# Ignore optional eslint cache.
.eslintcache

# Ignore environment variables file.
.env
**/env.yaml

# Ignore admin tokens.
.admin/tokens

# Ignore any SQL database.
*.sqlite3

# Ignore VS Code configuration files.
.vscode/*

# Ignore Firebase hosting cache.
.firebase/*

# Ignore supporting files.
cannlytics/
.datasets*
__pycache__/*
*.pyc

# Ignore built JavaScript and CSS bundles.
*bundles/

# Ignore duplicate static files.
public/static/*
public/.well-known
