# Python Requirements | Cannlytics
# Authors: Keegan Skeate <https://github.com/keeganskeate>
# Created 1/5/2021
# Updated: 9/22/2024
# License: MIT License <https://github.com/cannlytics/cannlytics/blob/main/LICENSE>
beautifulsoup4==4.12.3
chromedriver-binary==128.0.6613.84.0
django==5.1
django-cors-headers==4.4.0
django-environ==0.11.2
django-livereload-server==0.5.1
django-permissions-policy==4.21.0
djangorestframework==3.15.2
firebase_admin==6.5.0
fredapi==0.5.2
functions-framework==3.8.1
google-auth==2.34.0
google-cloud-secret-manager==2.20.2
google-cloud-firestore==2.17.2
google-cloud-logging==3.11.1
googlemaps==4.10.0
gunicorn==23.0.0
Markdown==3.7
numexpr==2.10.1
openai==1.42.0
openpyxl==3.1.5
opencv-python==4.10.0.84
pandas==2.2.2
pdfplumber==0.11.4
Pillow==10.4.0
pyarrow==17.0.0
pypdf==4.3.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pymdown-extensions==10.9
python-markdown-math==0.8
pyzbar==0.1.9
requests==2.31.0
scikit-learn==1.5.1
selenium==4.23.1
statsmodels==0.14.2
urllib3==1.26.20 # Note: verify_id_token requires urllib3<2.0.0
waitress==3.0.0
Wand==0.6.13
whitenoise==6.7.0
xxhash==3.5.0
zipcodes==1.2.0
