<!--
  User Menu | Cannlytics Website
  Created: 11/15/2021
  Updated: 9/29/2024
-->
<ul class="navbar-nav align-items-start align-items-lg-center mx-3 requires-auth visually-hidden">

  <!-- User icon menu button -->
  <li class="nav-item">

    <!-- User photo button -->
    <a
      id="navbarUserMenu"
      class="nav-link dropdown-toggle py-0"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      aria-label="User Menu"
    >
      <img
        id="user-photo"
        class="rounded-circle"
        style="max-width:30px; max-height:30px;"
        src=""
        title="User Menu"
      >
    </a>

    <!-- User menu -->
    <ul
      id="user-menu"
      class="dropdown-menu dropdown-menu-end bg-light shadow mx-2 pb-0"
      aria-labelledby="navbarUserMenu"
      style="z-index:10000;"
    >

      <!-- User name and email -->
      <li class="px-3 pt-1">
        <h5 class="fs-6 sans-serif text-dark" id="user-name"></h5>
        <h6 class="fs-6"><small class="sans-serif text-secondary" id="user-email"></small></h6>
      </li>
      <li class="my-0"><hr class="dropdown-divider my-0"></li>

      <!-- Account -->
      <li class="my-0">
        <a
          class="dropdown-item background-hover py-2"
          href="{% url 'page' page='account' %}"
        >
          <small class="sans-serif">Your account</small>
        </a>
      </li>
      
      <!-- Sign out -->
      <li class="my-0"><hr class="dropdown-divider my-0"></li>
      <li class="my-0">
        <button
          class="dropdown-item background-hover py-2"
          onClick="cannlytics.auth.signOut(false);"
        >
          <small class="sans-serif">Sign Out</small>
        </button>
      </li>

    </ul>
  </li>
</ul>