<!--
  Home Page | Cannlytics
  Created: 1/5/2021
  Updated: 10/3/2024
-->
{% extends "components/layout/dashboard.html" %}
{% load static %}
{% block title %}Cannlytics{% endblock %}
{% block dashboard_css %}

  <!-- D3 Charts -->
  <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>

{% endblock %}
{% block dashboard %}

  <!-- TODO: Latest: Results, COAs, Strains, organizations, compounds, etc. -->

  <!-- Live analytics -->
  {% comment %} {% include "pages/homepage/components/live_analytics.html" %} {% endcomment %}

  <!-- Newest Strains -->
  {% comment %} {% include "pages/homepage/components/newest_strains.html" %} {% endcomment %}

  <!-- Newest Results -->
  {% comment %} {% include "pages/homepage/components/newest_results.html" %} {% endcomment %}

  <!-- Newest Licenses -->
  {% comment %} {% include "pages/homepage/components/newest_licenses.html" %} {% endcomment %}

  <!-- TODO: Community reviews -->

{% endblock %}

{% block page_js %}
<!-- Homepage JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  cannlytics.website.initialize();
});
</script>
{% endblock %}
