<!doctype html>
<html>
<!-- Theme Toggle Button | Cannlytics Website-->
<button
  class="theme-toggle btn btn-labeled btn-default text-secondary position-absolute p-1"
  style="right:0.25rem; top:0.25rem; z-index:2; border: none !important;"
  type="button"
  onclick="cannlytics.website.changeTheme()"
>
  <svg
    class="light-theme-icon"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
  >
    <title>Toggle dark theme.</title>
    <i class="bi bi-moon dark-only"></i>
  </svg>
  <svg
    class="dark-theme-icon d-none"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
  >
    <title>Toggle light theme.</title>
    <i class="bi bi-sun light-only"></i>
  </svg>
</button>
</html>
