<!--
  About | Cannlytics Website
  Created: 9/22/2024
  Updated: 9/22/2024
-->
{% extends "components/layout/dashboard.html" %}
{% load static %}
{% block title %}About | Cannlytics{% endblock %}
{% block dashboard %}
<div class="pb-5 pb-md-6">

  <!-- Markdown -->
  <div class="container my-3">
    <div class="col markdown">
      {{ about|safe }}
    </div>
  </div>

  <!-- Demo -->
  {% comment %} {% include "pages/homepage/components/demo.html" %} {% endcomment %}

  <!-- List of Metrc Validations -->
  {% comment %} <div class="ground py-5">
    {% include "pages/homepage/components/metrc_state_list.html" with verifications=verifications only %}
  </div> {% endcomment %}

  <!-- List of contributors -->
  {% comment %} {% include "pages/homepage/components/contributors_promo.html" %} {% endcomment %}

  <!-- TODO: Accordian pointing to other information:
    - schedule 
    - metrc-integration
  -->
  
</div>
{% endblock %}
