<!--
  Compounds Page | Cannlytics
  Created: 2/25/2024
  Updated: 10/27/2024
-->
{% extends "components/layout/dashboard.html" %}
{% load static %}
{% block title %}Compounds{% endblock %}
{% block dashboard_css %}

  <!-- AG Grid -->
  {% include "components/tables/ag_grid_scripts.html" %}

{% endblock %}
{% block dashboard %}
{% if section and section not in 'logs,files,certificates' %}

  <!-- Analyte page -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pb-5 mx-auto">
    {% include "pages/analytes/analyte.html" with
      id=section
    %}
    {% block unit %}{% endblock unit %}
  </main>

{% else %}

<!-- Analytes -->
<section class="container markdown">

  <h2 class="sans-serif text-dark">Analytes</h2>

  <!-- TODO: Masonry of cards for each analysis.
    Each card has a list of compound names and links
    to those pages (/compounds/{key}) 
    - `cannabinoids`
    - `terpenes`
    - `pesticides`
    - `heavy_metals`
    - `residual_solvents`
    - `microbes`
  -->

</section>
{% endif %}
{% endblock %}

{% block page_js %}
{% if section %}

<!-- Analyte JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {

  // Initialize analyte.
  cannlytics.analytes.initializeAnalyte('{{ section }}');

});
</script>

{% else %}

<!-- Analytes JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {

  // Initialize analytes.
  cannlytics.analytes.initializeAnalytes();

});
</script>

{% endif %}
{% endblock %}
