<!doctype html>
<html>
<!--
  Header | Cannlytics Website
  Created: 1/7/2021
  Updated: 11/22/2021
-->
{% load static %}

<!-- Banner offer -->
{% include "website/components/banners/banner_support.html" with
  email="contact@cannlytics.com"
  phone=general.phone
  phone_number=general.phone_number
  only
%}

<!-- Theme Toggle -->
{% include "website/components/buttons/theme_toggle.html" %}

<!-- Header Template -->
<nav class="navbar navbar-expand-lg navbar-light justify-content-start p-3 px-md-4">
  <div class="container-fluid">

    <!-- Title -->
    <a 
      class="navbar-brand d-flex align-items-center me-2"
      href="{% url 'index' %}"
    >
      <img
        src="{% static 'website/images/logos/cannlytics_logo_with_text_light.png' %}"
        class="light-only"
        height="42px"
      >
      <img
        src="{% static 'website/images/logos/cannlytics_logo_with_text_dark.png' %}"
        class="dark-only"
        height="42px"
      >
    </a>

    <!-- Menu Toggle -->
    <button
      class="navbar-toggler me-4"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span data-feather="menu"></span>
    </button>

    <!-- Navigation Links -->
    <div
      id="navbarNavDropdown"
      class="collapse navbar-collapse justify-content-between"
    >
      <ul class="navbar-nav me-2">
        <li class="nav-item h6 mb-0">
          <a
            class="nav-link btn-sm background-hover"
            href="/data/"
          >
            Data
          </a>
        </li>
        <li class="nav-item h6 mb-0">
          <a
            class="nav-link btn-sm background-hover"
            href="https://docs.cannlytics.com"
          >
            Docs
          </a>
        </li>
        <li class="nav-item h6 mb-0">
          <a
            class="nav-link btn-sm background-hover {% if 'contact' in request.path %}active{% endif %}"
            href="/contact/"
          >
            Contact
          </a>
        </li>
      </ul>

      <!-- Right Navigation (Not signed in) -->
      <ul class="navbar-nav indicates-auth align-items-center me-3">
        <li class="nav-item h6 mb-0">
          <a
            class="nav-link btn-sm app-action background-hover text-nowrap me-2"
            data-bs-target="#login-dialog"
            data-bs-toggle="modal"
          >
            Sign in
          </a>
        </li>
        <li class="nav-item">
          <a
            type="button"
            class="btn btn-sm bg-gradient-orange text-white text-nowrap"
            href="https://console.cannlytics.com/account/sign-in"
          >
            Launch App
          </a>
        </li>
      </ul>

      <!-- Right navigation shown if user is signed in. -->
      {% include "website/components/menus/user_menu.html" %}

    </div>
  </div>
</nav>
</html>
