<!--
  API Page | Cannlytics Website
  Created: 12/27/2020
  Updated: 10/2/2024
-->
{% extends "components/layout/dashboard.html" %}
{% load static %}
{% block title %}API | Cannlytics{% endblock %}
{% block dashboard %}
<div class="container pb-5 pb-md-6">

  <!-- Markdown -->
  <div class="my-3 pt-3">
    <div class="col markdown">
      {{ api|safe }}
    </div>
  </div>

  <!-- Learn More -->
  <div class="markdown" style="max-width:540px;">
    <h2 class="sans-serif pt-4 text-dark fw-bold">
      Read the API Documentation
    </h2>
    <p class="markdown sans-serif-text fs-6 lh-md text-dark mt-2">
      The Cannlytics API is designed to give you all of
      the data and functionality of Cannlytics in your own applications. Dive into the documentation to discover everything the API can do for you.
    </p>
    <a
      class="btn bg-gradient-green text-white sans-serif mt-3"
      href="https://docs.cannlytics.com/api/readme/"
    >
      Read the docs
      <i class="bi bi-arrow-right"></i>
    </a>
  </div>

</div>

{% endblock %}
