<!--
  Video Banner | Cannlytics Website
  Created: 2/12/2024
  Updated: 2/12/2024
-->
{% load static %}

<!-- Open Collective Contributors -->
<div class="markdown" style="margin-top:2rem;">
  <h2 class="sans-serif text-dark mb-0">Contributors</h2>
  <p class="sans-serif fs-6 text-dark mt-2 mb-3">
    These are the heros who put their money where their mouth is to advance cannabis science.
  </p>
  <div id="financial-contributors" class="d-flex flex-wrap"></div>
</div>

{% block page_js %}
<script>

  // Get Open Collective contributors.
  function getOpenCollectiveContributors() {
    var slug = 'cannlytics-company';
    var limit = 25;
    var offset = 0;
    fetch(`https://opencollective.com/${slug}/members/all.json?limit=${limit}&offset=${offset}`)
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        const contributorsDiv = document.getElementById("financial-contributors");
        data
          .filter(function(member) {
            return member.role === 'BACKER';
          })
          .forEach(function(member) {
            // Render a card.
            const card = document.createElement('div');
            card.className = 'card col-10 col-md-10 col-lg-5 m-3';
            const cardBody = document.createElement('div');
            cardBody.className = 'card-body bg-transparent text-dark';

            // Add the contributor's name.
            const nameElement = document.createElement('h5');
            nameElement.className = 'card-title fs-4 fw-bold sans-serif text-nowrap mb-0';
            nameElement.textContent = member.name;

            // Add contributor's details.
            // var tierBadge;
            // if (member.tier == 'Buddha') {
            //   tierBadge = document.createElement('span');
            //   tierBadge.className = 'badge rounded-pill text-bg-warning fs-6 sans-serif mt-1';
            //   tierBadge.textContent = 'Buddha';
            // } else if (member.tier == 'Cannabis Data Scientist') {
            //   tierBadge = document.createElement('span');
            //   tierBadge.className = 'badge rounded-pill text-bg-primary fs-6 sans-serif  mt-1';
            //   tierBadge.textContent = 'Cannabis Data Scientist';
            // } else {
            //   tierBadge = document.createElement('span');
            //   tierBadge.className = 'badge rounded-pill text-bg-success fs-6 sans-serif mt-1';
            //   tierBadge.textContent = 'Seedling';
            // }

            // Add the amount donated.
            const amountRow = document.createElement('div');
            const amountElement = document.createElement('h3');
            amountElement.className = 'card-text fw-bold sans-serif text-success fs-3 mb-0 mt-2';
            amountElement.textContent = `$${member.totalAmountDonated}`;
            amountRow.className = 'row'
            amountRow.appendChild(amountElement);

            // Add small text "total contributions!"
            // const smallTextElement = document.createElement('p');
            // smallTextElement.className = 'text-secondary fs-6 mt-0';
            // smallTextElement.textContent = "total contributions!";
            // amountRow.appendChild(smallTextElement);

            // Add the user's `image` with a link to their `profile`.
            const imgDiv = document.createElement('div');
            imgDiv.style.width = '75px';
            imgDiv.style.height = '75px';
            imgDiv.style.borderRadius = '50%';
            imgDiv.style.backgroundSize = 'cover';
            imgDiv.style.backgroundPosition = 'center';
            imgDiv.style.float = 'left';
            imgDiv.style.marginRight = '10px';
            if (member.image) {
                imgDiv.style.backgroundImage = `url(${member.image})`;
            }

            // Add a link to the image.
            const imgLinkElement = document.createElement('a');
            if (member.profile) {
                imgLinkElement.href = member.profile;
            } else {
                imgLinkElement.href = `https://opencollective.com/${member.name}`;
            }
            imgLinkElement.title = member.name;
            imgLinkElement.appendChild(imgDiv);

            // Add the elements to the card.
            cardBody.appendChild(imgLinkElement); 
            cardBody.appendChild(nameElement);
            // cardBody.appendChild(tierBadge);
            cardBody.appendChild(amountRow);
            card.appendChild(cardBody);
            contributorsDiv.appendChild(card);
          });

        // After rendering all contributor cards, add the promo card.
        renderPromoCard();
      })
      .catch(function(error) {
        console.error("Error: " + error);
      });
  }

  function renderPromoCard() {
    const promoCard = document.createElement('div');
    promoCard.className = 'card col-10 col-md-10 col-lg-5 m-3';
    const cardBody = document.createElement('div');
    cardBody.className = 'card-body bg-transparent text-dark markdown';

    // Title
    // FIXME: Make this a link.
    const titleElement = document.createElement('h5');
    titleElement.className = 'card-title fs-4 fw-bold sans-serif mb-0';
    titleElement.innerHTML = '<a class="background-hover" href="https://opencollective.com/cannlytics-company">Contribute Yourself!</a>';

    // Description
    const descriptionElement = document.createElement('p');
    descriptionElement.className = 'card-text fs-6 lh-sm mt-2';
    descriptionElement.innerHTML = '<small>If you benefit from Cannlytics, then consider <a class="background-hover" href="https://opencollective.com/cannlytics-company">contributing</a>. Every dollar counts! 💸</small>';

    // Image
    const imgDiv = document.createElement('img');
    imgDiv.src = "{% static 'website/images/emojies/factory-worker.svg' %}";
    imgDiv.alt = "Contribute";
    imgDiv.style.width = '75px'; // Adjust as needed
    imgDiv.style.height = '75px'; // Adjust as needed
    imgDiv.className = 'float-start me-3';

    // Add elements to the card body
    cardBody.appendChild(imgDiv);
    cardBody.appendChild(titleElement);
    cardBody.appendChild(descriptionElement);

    // Append the card body to the promo card
    promoCard.appendChild(cardBody);

    // Add the promo card to the contributors div
    document.getElementById("financial-contributors").appendChild(promoCard);
  }

  // Get the OpenCollective contributors.
  getOpenCollectiveContributors();

</script>
{% endblock %}
