<!--
  Metrc State List | Cannlytics Website
  Created: 11/15/2021
  Updated: 9/23/2024
  Args:
    verifications (list): A list of state verification data (dict).
-->
{% load static %}

<!-- List -->
<section class="container d-flex flex-column pt-5 pb-5">

  <!-- Title -->
  <div class="w-100">
    <h2 id="metrc" class="sans-serif text-dark">
      <svg class="pe-1" style="float:left;width:125px;height:125px;">
        <use href="{% static "website/images/emojies/green-shield.svg" %}#green-shield-emoji"></use>
      </svg>
      Cannlytics Integrates with Metrc!
    </h2>
    <p class="mb-3 mt-2" style="max-width:720px;">
      <small class="sans-serif-text">
      Cannlytics is a
      <a
        href="https://www.metrc.com/validated-integrators/#cannlytics"
        class="text-dark fw-bold background-hover"
      >
        validated Metrc integrator
      </a>
      in the following states.
      If you need assistance, a fully-managed solution, or help automating your
      interactions with Metrc, then you can
      <a
        href="{% url 'page' page='support' %}?topic=metrc"
        class="icon-link icon-link-hover text-dark background-hover fw-bold"
      >
      sign up for support
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.293 7.5H1.5a.5.5 0 0 0 0 1h7.793L7.146 11.354a.5.5 0 1 0 .708.708l3-3z"/>
      </svg>
      </a>
      </small>
    </p>
  </div>

  <!-- State flags -->
  <!-- Optional: Replace external state URLs with internal pages? -->
  <ul class="three-columns mt-3" style="max-width:720px;">
    {% for item in verifications %}
      <li class="mb-2" style="display:flex;">
        <table>
          <tr class="d-flex align-items-center justify-content-center">
            <td class="pb-0 pe-2">
              {% with 'website/images/state-flags/'|add:item.state_name|lower|add:'-flag.png' as image_url %}
                <img
                  src="{% static image_url %}"
                  style="height:auto;max-height:45px;max-width:45px;-webkit-column-break-inside: avoid;"
                >
              {% endwith %}
            </td>
            <td class="pb-0">
              <h5 class="my-0 fs-6 serif text-dark">
                {{ item.state_name }}
              </h5>
            </td>
          </tr>
        </table>
      </li>
    {% endfor %}
  </ul>

  <!-- Python package mention -->
  <p class="mb-3" style="max-width:720px;">
    <small class="sans-serif-text">
    You can also utilize the Metrc interface in the
    <a
      class="text-dark background-hover fw-bold"
      href="https://pypi.org/project/cannlytics/"
    >
      Cannlytics Python package
      <svg class="" style="width:24px;height:24px;">
        <use href="{% static "website/images/emojies/snake.svg" %}#snake-emoji"></use>
      </svg>
    </a>
    </small>
  </p>

  <!-- Call to action -->
  <div class="markdown">
    <p class="text-start mt-0">
      <a
        class="icon-link icon-link-hover btn bg-gradient-green text-white sans-serif"
        href="{% url 'page' page='support' %}?topic=metrc"
      >
        Integrate now
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.293 7.5H1.5a.5.5 0 0 0 0 1h7.793L7.146 11.354a.5.5 0 1 0 .708.708l3-3z"/>
        </svg>
      </a>
    </p>
  </div>

</section>
