<!--
  COA Page | Cannlytics Website
  Created: 9/28/2024
  Updated: 11/5/2024
-->
{% block dashboard %}
  <!-- Header -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 mt-2 border-bottom border-secondary">
    {% include "components/layout/breadcrumbs.html" with
      base_page="COAs"
      base_page_url="/coas"
      current_page=id
    %}
  </div>

  <!-- TODO: Ability for consumers to view the COA. -->
  

  <!-- TODO: Metadata -->


  <!-- TODO: AG Grid table of results
    Let the user toggle by analysis. 
  -->


  <!-- TODO: Similar results (of the same strain)
    Vector(`results_embedding`)  -> nearest neighbors
    Vector(`strain_name_embedding|product_name_embedding`)  -> nearest neighbors
  -->


{% endblock %}

{% block page_js %}
  <script>

    // Initialize result. 
    cannlytics.coas.initializeCOA();

  </script>
{% endblock %}
