<!--
  Compound Page | Cannlytics Website
  Created: 2/25/2024
  Updated: 2/25/2024
-->
{% extends "components/layout/dashboard.html" %}
{% load static %}
{% block title %}Compound | Cannlytics{% endblock %}
{% block dashboard_css %}{% endblock %}
{% block dashboard %}

<!-- Breadcrumbs -->
{% include "components/layout/breadcrumbs.html" with
  base_page="Compounds"
  base_page_url="/compounds"
  current_page=id
%}

<!-- Compound -->
<section class="container markdown">

  <!-- TODO: Image of `image_url` -->

  <!-- TODO: Title of `name` -->

  <!-- TODO: Metadata
    - `key`
    - `analysis``
  -->

  <!-- TODO: Description. -->

  <!-- TODO: Chemical data:
    - `CAS_number`
    - `chemical_formula`
    - `molar_mass``

    # Future work:
    - `boiling_point``
    - `melting_point`
    - Optional: `precursors`
    - Optional: `subtype`
  -->

  <!-- TODO: Display statistics by product type.
   - Let the user select: 'period'
   - Choose statistic: 'mean', 'std', 'percentile_25', 'median', 'percentile_75', 'max'
   - Vary units by `analysis`
  -->

  <!-- TODO: Chart of the estimated distribution in different product types -->


  <!-- TODO: Table of results with the highest concentrations of the compound. -->


  <!-- TODO: Optional: Table of strains with the highest concentrations of the compound. -->
  

  <!-- Future work: Limits by state -->



</section>

{% endblock %}
{% block page_js %}
  <script>


  </script>
{% endblock %}
