<!--
  Compound Page | Cannlytics Website
  Created: 2/25/2024
  Updated: 2/25/2024
-->
{% extends "components/layout/dashboard.html" %}
{% load static %}
{% block title %}Compound | Cannlytics{% endblock %}
{% block dashboard_css %}{% endblock %}
{% block dashboard %}

<!-- Breadcrumbs -->
{% include "components/layout/breadcrumbs.html" with
  base_page="Compounds"
  base_page_url="/compounds"
  current_page=id
%}


<!-- Compound -->
<section class="container markdown">

  <!-- TODO: Observed distribution of the given compound. -->

  <!-- TODO: Description about the compound. -->

  <!-- TODO: Chemical data about the compound:
    - Molecular formula
    - Molecular weight
    - CAS number
    - Boiling point
    - Melting point
    - Solubility
      
  -->

  <!-- TODO: Limits by state -->

  <!-- TODO: Strains with the highest concentrations of the compound. -->

  <!-- TODO: Results with the highest concentration of the compound. -->

</section>

{% endblock %}
{% block page_js %}
  <script>


  </script>
{% endblock %}
