<!--
  Label Parser | Cannlytics
  Created: 9/25/2024
  Updated: 10/2/2024
-->
{% extends "components/layout/dashboard.html" %}
{% block title %}Label Parser | Cannlytics{% endblock %}
{% comment %} {% block dashboard_tabs %}

<!-- Tabs -->
<ul id="tabs" class="page-tabs nav" role="tablist">
  <li class="nav-item border-bottom" role="presentation">
    <button class="nav-link text-secondary active" id="parse-tab" data-bs-toggle="pill" data-bs-target="#parse" type="button" role="tab" aria-controls="parse" aria-selected="false">
        <i class="bi bi-magic"></i> Parse
    </button>
  </li>
  <li class="nav-item border-bottom" role="presentation">
      <button class="nav-link text-secondary" id="your-labels-tab" data-bs-toggle="pill" data-bs-target="#your-labels" type="button" role="tab" aria-controls="your-labels" aria-selected="true">
          <i class="bi bi-label"></i> Your Labels
      </button>
  </li>
  <li class="nav-item border-bottom" role="presentation">
      <button class="nav-link text-secondary" id="analytics-tab" data-bs-toggle="pill" data-bs-target="#analytics" type="button" role="tab" aria-controls="analytics" aria-selected="false">
          <i class="bi bi-graph-up"></i> Analytics
      </button>
  </li>
</ul>

{% endblock %} {% endcomment %}
{% block dashboard %}
<section class="container markdown">

  <!-- Breadcrumbs -->
  {% include "components/layout/breadcrumbs.html" with
    base_page="Parsers"
    base_page_url="/parsers"
    current_page="Label Parser"
  %}

  <!-- Tab content -->
  <div id="tabs-content" class="tab-content">

    <!-- Parser -->
    <div class="tab-pane fade show active" id="parse" role="tabpanel" aria-labelledby="parse-tab">

      <!-- Instructions -->
      <h2 class="sans-serif text-dark fw-bold mt-0 mb-0">
        Label Parser
      </h2>
      <p class="markdown sans-serif-text fs-6 lh-sm text-dark mt-2 mb-0"
        style="max-width:540px;"
      >
        Your extracted data will render below.
        <i class="bi bi-info-circle ms-1 mb-2 text-secondary" style="font-size:16px;"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-html="true"
          title="We use OpenAI's latest version of ChatGPT to extract data.">
        </i>
      </p>

      <!-- Label input -->
      <div
        id="label-input-container"
        class="col pe-0 mt-3"
      >
        <div class="d-flex mb-3">

          <!-- File Drag and Drop -->
          <form
            id="label-import-form"
            name="label_import"
            class="box col mb-3"
            style="min-width:350px;"
            method="post"
            action=""
            enctype="multipart/form-data"
          >
            {% csrf_token %}           
              <div id="dropbox" class="box__dragbox d-flex flex-column">
                <div
                  id="dropbox_background"
                  class="box__dragbox_background"
                ></div>
                <p
                  id="dropbox-text"
                  class="box__dragtext jlrFontMediumBold sans-serif-text text-dark px-3 lh-base"
                >
                  Drop a label image to parse.
                </p>
                <div class="box__action d-flex mt-3">
                  <button
                    id='label-import-button'
                    class="app-action btn btn-sm-light btn-md-light sans-serif-text fw-normal text-dark"
                    type="button"
                  >
                    Alternatively, import your image
                  </button>
                </div>
                <div
                  class="btn-group btn-group-sm order-1 order-md-2 me-2 mb-3"
                  role="group"
                  aria-label="Label Import"
                >
                <input
                  id="label-input"
                  type="file"
                  class="visually-hidden"
                  name="urls"
                  required="required"
                >
              </div>
            </div>
            <div class="box__uploading">Uploading…</div>
            <div class="box__success">Done!</div>
            <div class="box__error">Error! <span></span>.</div>
          </form><!-- End of File Drag and Drop -->

        </div>
      </div>

    </div><!-- End of Parser -->

    <!-- Labels -->
    <div class="tab-pane fade show active" id="your-labels" role="tabpanel" aria-labelledby="your-labels-tab">
        
      <!-- Sample Results -->
  <div class="card rounded text-start mt-3">
    <div class="card-header border-0 bg-transparent d-flex justify-content-between align-items-center pb-0 pt-3">
      <h3 class="sans-serif fw-normal text-dark mb-0 mt-0">
        Your Results
      </h3>
      <ul
        id="coa-results-tabs"
        class="nav nav-pills mb-3 d-none"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="active btn btn-md-light me-1 text-dark"
            id="coa-grid-tab"
            data-bs-toggle="pill"
            data-bs-target="#coa-grid"
            type="button"
            role="tab"
            aria-controls="coa-grid"
            aria-selected="true"
            title="Grid View"
          >
            <i class="bi bi-grid" style="font-size:21px;"></i>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="btn btn-md-light text-dark"
            id="coa-list-tab"
            data-bs-toggle="pill"
            data-bs-target="#coa-list"
            type="button"
            role="tab"
            aria-controls="coa-list"
            aria-selected="false"
            title="List View"
          >
            <i class="bi bi-list" style="font-size:21px;"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="card-body bg-transparent pt-0">

      <!-- Sample Results Placeholder -->
      <p
        id="coa-sample-results-placeholder"
        class="sans-serif-text text-dark text-center fs-5 mb-5 lh-base mt-4"
      >
        🥸 Waiting on your COAs Boss!<br>
        <span class="fs-6"><small class="sans-serif">Upload your COAs above to being parsing.</small></span>
      </p>

      <!-- Sample Results -->
      <div id="coa-results-content" class="tab-content d-none">

        <!-- Sample Results Options -->
        <div class="d-flex justify-content-start mb-3">

          <!-- Download All Results -->
          <button
            id="coa-doc-export-button"
            class="btn btn-sm-light btn-md-light text-nowrap text-dark sans-serif fw-normal"
            type="button"
          >
            <i class="bi bi-cloud-download me-1" style="font-size:21px;"></i>
            Download
          </button>

          <!-- Clear -->
          <button
            id="coa-doc-clear-button"
            class="btn btn-sm-light btn-md-light text-nowrap text-dark sans-serif fw-normal ms-2"
            type="button"
          >
            <i class="bi bi-slash me-1" style="font-size:21px;"></i>
            Clear
          </button>

        </div>

        <!-- Grid of COA Results -->
        <div
          id="coa-grid"
          class="tab-pane fade row show active"
          role="tabpanel"
          aria-labelledby="coa-grid-tab"
          tabindex="0"
        >
          <div id="coa-grid-container" class="row">
              
              <!-- Sample card template -->
              <div
                id="sample-placeholder-template"
                class="sample-placeholder-template col-12 col-md-4 px-3 pe-lg-5 pb-3 text-start d-none"
              >
                <div class="card rounded">
                  <button
                    class="btn btn-sm-light position-absolute text-dark text-center"
                    style="z-index:99;right:0;"
                    title="Remove sample"
                    type="button"
                  >
                    <i class="bi bi-x" style="font-size:16px;"></i>
                  </button>
                  {% include "components/placeholders/loading_placeholder.html" with
                    height='200px'
                    width='100%'
                    class="my-0"
                    only
                  %}
                </div>
              </div><!-- End of sample card -->

              <!-- Sample card -->
              <div
                id="sample-card-template"
                class="sample-card-template col-12 col-md-4 px-3 pb-3 text-start d-none"
              >
                <div class="card rounded">
                  <button
                    class="btn btn-sm-light position-absolute text-dark text-center"
                    style="z-index:99;right:0;"
                    title="Remove sample"
                    type="button"
                  >
                    <i class="bi bi-x" style="font-size:16px;"></i>
                  </button>
                  <!-- Add more details:
                    - [ ] Chips for `analyses`.
                    - [ ] Number of `results`.
                    - [ ] Style product type?
                    - [ ] Format date as a human-readable date.
                  -->
                  <div class="card-body bg-transparent sample-details text-dark">
                    <img class="sample-image d-none text-center" src="" height="75px;">
                    <div class="product-name fw-bold fs-5"></div>
                    <div class="product-type"></div>
                    <div class="producer"></div>
                    <div class="date-tested"></div>
                    <div class="sample-data visually-hidden"></div>
                  </div>
                  <a
                    href=""
                    class="stretched-link"
                    data-bs-toggle="modal"
                    data-bs-target="#results-modal"
                    data-bs-sample=""
                  ></a>
                </div>
              </div>

          </div>
        </div><!-- End of Grid of COA Results -->

        <!-- Data Table of COA Results -->
        <div
          id="coa-list"
          class="tab-pane fade"
          role="tabpanel"
          aria-labelledby="coa-list-tab"
          tabindex="0"
        >
          <div class="row">
            <div id="coa-data-placeholder" class="d-none-">
              {% include "components/placeholders/loading_placeholder.html" with
                height='350px'
                width='100%'
                only
              %}
            </div>
            <div
              id="coa-data-table"
              class="ag-theme-quartz"
              style="height:350px; width:100%;"
            ></div>
          </div>
        </div>
      
      </div><!-- End of COA Results Grid and Table -->

    </div>
  </div><!-- End of Sample Results -->

  <!-- Sample Results Modal -->
  <div
    id="results-modal"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="results-modal-label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5
            class="modal-title"
            id="results-modal-label"
          >
            Sample Results
          </h5>
          <button
            class="btn btn-sm-light position-absolute text-dark text-center"
            style="z-index:99;right:0;top:0;"
            data-bs-dismiss="modal"
            title="Close results"
            type="button"
          >
            <i class="bi bi-x" style="font-size:16px;"></i>
          </button>
        </div>
        <div class="modal-body">
          
          <!-- Render all sample details here.
            - [ ] Render all results in inputs with labels.!
            - [ ] Make results editable!
          -->
          <div class="modal-sample-details">
            <img class="sample-image d-none text-center" src="" height="75px;">
            <div class="product-name fw-bold fs-5"></div>
            <div class="product-type"></div>
            <div class="producer"></div>
            <div class="date-tested"></div>
            <div class="sample-data visually-hidden"></div>
          </div>

          <!-- Render results in a datatable! -->
          <div
            id="results-data-table"
            class="ag-theme-quartz-dark"
            style="height:350px; width:100%;"
          ></div>

        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-sm-light btn-md-light sans-serif fw-normal"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          {% comment %}
          <!-- TODO: Allow user to save lab results to their account.
          <button
            id="save-sample-results-button"
            class="btn btn-sm bg-gradient-green text-white serif"
            type="button"
          >
            Save
          </button>
          {% endcomment %}
          <button
            id="download-sample-results-button"
            class="btn btn-sm bg-gradient-purple text-white sans-serif fw-normal"
            type="button"
            data-bs-sample=""
          >
            Download
          </button>
        </div>
      </div>
    </div>
  </div><!-- End of Sample Results Modal -->

    </div><!-- End of labels -->

    <!-- Analytics -->
    <div class="tab-pane fade" id="analytics" role="tabpanel" aria-labelledby="analytics-tab">
        
      <h1>Coming soon!</h1>
  
    </div><!-- End of analytics -->

  </div>

</section>
{% endblock %}

{% block page_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {

  // Initalize the label parser.
  // cannlytics.coas.initializeCoADoc();

  // Initialize tooltips.
  cannlytics.ui.enableTooltips();

});
</script>
{% endblock %}
