<!--
  Parsers | Cannlytics
  Created: 9/24/2024
  Updated: 10/2/2024
-->
{% extends "components/layout/dashboard.html" %}
{% block title %}Parsers | Cannlytics{% endblock %}
{% block dashboard %}
<section class="container markdown">

  <!-- Title -->
  <h2 class="sans-serif text-dark fw-bold mb-0">Parsers</h2>
  <p class="markdown sans-serif-text fs-6 lh-md text-dark mt-0 mb-0"
    style="max-width:540px;"
  >
    Take advantage of our parsers to extract the data that you need.
  </p>

  <!-- Parsers -->
  <div class="markdown row pt-4">

    <!-- Parser List -->
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-coa-list" data-bs-toggle="list" href="#list-coa" role="tab" aria-controls="list-coa">
          COA Parser
        </a>
        <a class="list-group-item list-group-item-action" id="list-label-list" data-bs-toggle="list" href="#list-label" role="tab" aria-controls="list-label">
          Label Parser
        </a>
        <a class="list-group-item list-group-item-action" id="list-receipt-list" data-bs-toggle="list" href="#list-receipt" role="tab" aria-controls="list-receipt">
          Receipt Parser
        </a>
        <a class="list-group-item list-group-item-action" id="list-standardizer-list" data-bs-toggle="list" href="#list-standardizer" role="tab" aria-controls="list-standardizer">
          Standardizer
        </a>
      </div>
    </div>
  
    <!-- Parser Descriptions -->
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">

        <!-- COA Parser -->
        <div class="tab-pane fade show active" id="list-coa" role="tabpanel" aria-labelledby="list-coa-list">
          <h3 class="mt-0 sans-serif">COA Parser</h3>
          <p class="sans-serif-text">
            The COA (Certificate of Analysis) Parser, <a href="https://github.com/cannlytics/cannlytics/tree/main/cannlytics/data/coas">CoADoc</a>, extracts data from COA PDFs or URLs. This tool enables you to parse lab results, including cannabinoids, terpenes, contaminants, and every data point on the page, directly from PDFS, images, URLs, and QR codes.
          </p>
        </div>

        <!-- Label Parser -->
        <div class="tab-pane fade" id="list-label" role="tabpanel" aria-labelledby="list-label-list">
          <h3 class="mt-0 sans-serif">Label Parser</h3>
          <p class="sans-serif-text">
            The Label Parser parses images of cannabis product labels, extracting text-based data such as strain names, product type, and any lab results. Powered by OpenAI's latest models, <b>BudSpender</b> processes these images into usable datasets for compliance checks, product categorization, and more.
          </p>
        </div>

        <!-- Receipt Parser -->
        <div class="tab-pane fade" id="list-receipt" role="tabpanel" aria-labelledby="list-receipt-list">
          <h3 class="mt-0 sans-serif">Receipt Parser</h3>
          <p class="sans-serif-text">
            The Receipt Parser allows you to upload images of cannabis purchase receipts, extracting purchase data such as product names, prices, and quantities. With <b>BudSpender</b>, this tool can help you analyze spending patterns, track inventory, and generate detailed reports.
          </p>
        </div>

        <!-- Standardizer -->
        <div class="tab-pane fade" id="list-standardizer" role="tabpanel" aria-labelledby="list-standardizer-list">
          <h3 class="mt-0 sans-serif">Standardizer</h3>
          <p class="sans-serif-text">
            The Standardizer helps normalize product names, strain names, and product types by applying a consistent naming structure. Whether you are standardizing data in bulk or individually, this tool ensures uniformity across your dataset for accurate comparisons and analysis.
          </p>
        </div>

      </div>
    </div>
  
  </div>

</section>
{% endblock %}

{% block dashboard_js %}
<script>

  // Initialize.
  document.addEventListener('DOMContentLoaded', function() {
    console.log('Parsers page loaded.');
  });

</script>
{% endblock %}
