<!--
  Parsers | Cannlytics
  Created: 9/24/2024
  Updated: 9/24/2024
-->
{% extends "components/layout/dashboard.html" %}
{% block title %}Parsers | Cannlytics{% endblock %}
{% block dashboard %}
<section class="container markdown">

  <!-- Title -->
  <h2 class="sans-serif text-dark fw-bold mb-0">Parsers</h2>
  <p class="markdown sans-serif-text fs-6 lh-md text-dark mt-0 mb-0"
    style="max-width:540px;"
  >
    Take advantage of our parsers to extract the data that you need.
  </p>

  <!-- Parsers -->
  <div class="markdown row pt-4">

    <!-- Parser List -->
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-coa-list" data-bs-toggle="list" href="#list-coa" role="tab" aria-controls="list-coa">
          COA Parser
        </a>
        <a class="list-group-item list-group-item-action" id="list-receipt-list" data-bs-toggle="list" href="#list-receipt" role="tab" aria-controls="list-receipt">
          Receipt &amp; Label Parser
        </a>
      </div>
    </div>
  
    <!-- Parser Descriptions -->
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">

        <!-- COA Parser -->
        <div class="tab-pane fade show active" id="list-coa" role="tabpanel" aria-labelledby="list-coa-list">
          <h3 class="mt-0 sans-serif">COA Parser</h3>
          <p class="sans-serif-text">Certificates of analysis (COAs) are abundant for cultivators, processors, retailers, and consumers too, but the data is often locked away. Rich, valuable laboratory data so close, yet so far away! User our COA parser, <b>CoADoc</b> to get these data points in your hands by parsing PDFs and URLs and cleanly returning the data to you.</p>
        </div>
  
        <!-- Receipt Parser -->
        <div class="tab-pane fade" id="list-receipt" role="tabpanel" aria-labelledby="list-receipt-list">
          <h3 class="mt-0 sans-serif">Receipt &amp; Label Parser</h3>
          <p class="sans-serif-text">Your cannabis receipts and packages hold a lot of data. Put that data to work with <b>BudSpender</b>. This OpenAI-powered tool parses cannabis receipts and labels into well-structured data that can be used for trending, analytics, and however you please.</p>
        </div>
  
      </div>
    </div>
  
  </div>

</section>
{% endblock %}

{% block dashboard_js %}
<script>

  // Initialize.
  document.addEventListener('DOMContentLoaded', function() {
    console.log('Parsers page loaded.');
  });

</script>
{% endblock %}
