/*--------------------------------------------------------------------------
  Side Navigation
---------------------------------------------------------------------------*/

.nav-side-menu {
  overflow: auto;
  /* position: fixed; */
  /* top: 0px; */
  width: 225px; /* Magic width */
  height: 100%;
  color: #777;
  background: #fff;
}
body.dark .nav-side-menu {
  background: #323443;
}

/* .nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
} */
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu li {
  margin-right: 5%;
  border-radius: 0 15px 15px 0;
}

.nav-side-menu ul :not(collapsed) .arrow,
.nav-side-menu li :not(collapsed) .arrow {
  /* content: "↓"; */
  /* display: inline-block; */
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  /* background-color: #181c20; */
  border: none;
  line-height: 28px;
  /* border-bottom: 1px solid #23282e; */
  margin-left: 0px;
}
a.collapse {
  text-decoration: underline !important;
  font-weight: 600 !important;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #cccccc33;
  /* background-color: var(--mdc-theme-text-secondary-on-background); */
}
.nav-side-menu ul .sub-menu li:hover a,
.nav-side-menu li .sub-menu li:hover a {
  color: #104607ff !important;
}
body.dark .nav-side-menu ul .sub-menu li:hover a,
body.dark .nav-side-menu li .sub-menu li:hover a {
  color: #ffa600 !important;
}
.nav-side-menu ul .active {
  /* border-left: 3px solid #d19b3d; */
  color: #96e6a133;
  background-color: #f8f9fa;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  background-color: #96e6a133;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #104607ff !important;
}
body.dark .nav-side-menu ul .sub-menu li.active a,
body.dark .nav-side-menu li .sub-menu li.active a {
  color: #ffa600 !important;
}

/* .nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
} */
.nav-side-menu li {
  padding-left: 0px;
  /* border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e; */
}
.nav-side-menu li a {
  text-decoration: none;
  color: #777;
  display: block;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  color: #e53a23ff !important;
  /* border-left: 3px solid #d19b3d; */
  /* background-color: var(--mdc-theme-text-secondary-on-background); */
  /* -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}
@media (max-width: 992px) {

  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    /* margin-top: 91px; */
  }

  .nav-side-menu .toggle-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    background-color: #f8f9fa;
    /* right: 10px;
    top: 10px;
    z-index: 10 !important; */
    padding: 3px;
    /* color: #000; */
    text-align: center;
  }

}

@media (min-width: 992px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

ul.nav-pills {
  top: 20px;
}
div.col-8 div {
  height: 500px;
}
