<!doctype html>
<html>
<!--
  Videos Page | Cannlytics
  Created: 2/23/2021
  Updated: 6/27/2021
    Fields:
    title
    description
    length
    cover_image_url
    video_id
    video_url
  TODO:
    - Explore video players. For example: https://cloudinary.com/documentation/cloudinary_video_player
-->
{% extends "website/index.html" %}
{% load static icon %}
{% block title %}Videos | Cannlytics{% endblock %}
{% block page_css %}
{% endblock %}
{% block material %}

<!-- Individual Video -->
{% if section %}

  <div>Video: {{ section }}</div>

<!-- Video Archive -->
{% else %}

  <!-- Hero Banner -->
  {% include "website/components/heros/hero_banner.html" with
    title="Videos"
    only
  %}

<section class="px-3">
  
  <!-- Data Grid -->
  <div class="row px-3 mb-4">
  {% for video in video_archive %}
    <div class="col-10 col-md-6 col-lg-4 mb-4 mb-lg-5 px-4 mx-auto">
    <div
      class="card border-secondary rounded-3"
    >
    <a
      class="card-block stretched-link text-decoration-none"
      href="/videos/{{ video.video_id }}"
    >
      <img
        src="{{ video.cover_image_url }}"
        class="w-100"
        stlye="max-height:125px;"
      />

      <!-- Card header -->
      <div class="d-flex justify-content-between px-2 pt-1">
        <div class="d-flex align-items-center">
          {% comment %} <div class="icon-container me-2">
            {% include 'console/components/icons/people.svg' %}
          </div> {% endcomment %}
          <h4 class="fs-5 fw-bold text-dark">{{ video.title }}</h4>
        </div>
      </div>

      <!-- Card body -->
      <div class="card-body bg-transparent px-2 pb-1">

        <div class="d-flex justify-content-between align-items-center">

          <!-- Card Stats -->
          <div class="text-secondary fs-6">
            {% if video.total_views %}
              <small class="serif">{{ video.total_views }} Views</small>
            {% endif %}
          </div>

          <!-- Badges -->
          {% if video.support == 'Enterprise' %}
            <span class="badge rounded-pill bg-primary">Enterprise</span>
          {% elif video.support == 'Pro' %}
            <span class="badge rounded-pill bg-warning text-dark">Pro</span>
          {% else %}
            <span class="badge rounded-pill bg-gradient-green text-white">Free</span>
          {% endif %}

        </div>

        <!-- Description -->
        <p class="text-secondary fs-6">
          <small>
            {{ video.description|truncatechars:120 }}
          </small>
        </p>

      </div>

    </a>
    </div>
    </div>
  {% endfor %}
  </div>

</section>

{% endif %}

{% endblock %}

<!-- JavaScript -->
{% block page_js %}

<script>

  const videoId = '{{ section }}';
  // TODO: Get video data from Firestore!
  console.log('Get video data:', videoId);

  // TODO: Record view.
  if (videoId) {
    console.log('Record view:', videoId);
  }

</script>

{% endblock %}

</html>
