<!--
  API Key Page | Cannlytics Website
  Created: 6/18/2021
  Updated: 10/2/2024
-->
{% extends "components/layout/dashboard.html" %}
{% block title %}Manage API Key | Cannlytics {% endblock title %}
{% block dashboard %}

<!-- API Key Management -->
<section class="requires-auth container my-5 pb-5">

  <!-- Breadcrumbs -->
  {% include "components/layout/breadcrumbs.html" with
    base_page="Account"
    base_page_url="/account"
    nested_page="API Keys"
    nested_page_url="/account/api-keys"
    current_page="Manage API Key"
  %}

  <!-- Header -->
  <div class="mt-4 px-3">
    <h2 class="sans-serif text-dark mt-3 mb-0">Manage API Key</h2>
    <p class="sans-serif fs-5 text-secondary mb-3 mt-2" style="max-width:540px;">
      Your API keys provide programmatic access to your account and should be treated like passwords.
    </p>
  </div>

  <!-- Body -->
  <div class="my-4 px-3 py-2">

    <!-- Form -->
    <form id="api-key-form">
      <div class="col-12 col-lg-8">

        <!-- Field -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label col-4">Name</label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="name"
            style="max-width:250px;"
            disabled
          >
        </div>

        <!-- Field -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label col-4">Created At</label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="created_at"
            style="max-width:250px;"
            disabled
          >
        </div>

        <!-- Field -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label col-4">Expiration At</label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="expiration_at"
            style="max-width:250px;"
            disabled
          >
        </div>

        <!-- Hidden API fields -->
          <input
            type="text"
            class="visually-hidden"
            name="prefix"
            disabled
          >
          <input
            type="text"
            class="visually-hidden"
            name="suffix"
            disabled
          >

        {% comment %} <!-- Field -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label col-3">Permissions</label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="permissions"
            style="max-width:250px;"
            disabled
          >
        </div> {% endcomment %}

      </div>
    </form>

    <!-- Options -->
    <div class="mt-4">
      <a
        class="btn btn-sm-light btn-md-light me-2"
        href="{% url 'section' page='account' section='api-keys' %}"
      >
        Cancel
      </a>
      <button
        id="delete-api-key-button"
        class="btn btn-sm btn-warning"
        onclick="cannlytics.settings.deleteAPIKey();"
      >
        Delete
      </button>
      <button
        id="delete-api-key-button-loading"
        class="ms-1 btn btn-sm btn-warning btn-set-width text-white d-none"
        type="button"
        title="Loading"
        disabled
      >
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      </button>  
    </div>

  </div><!-- End of body -->

</main>
{% endblock %}

<!-- JavaScript -->
{% block page_js %}
  <script>
    cannlytics.settings.viewAPIKey();
  </script>
{% endblock %}
