<!--
  API Settings | Cannlytics Website
  Created: 5/9/2021
  Updated: 10/2/2024
-->
{% extends "components/layout/dashboard.html" %}
{% block title %}API Keys | Cannlytics {% endblock %}
{% block dashboard_css %}

  <!-- AG Grid JavaScript and Style -->
  {% include "components/tables/ag_grid_scripts.html" %}

{% endblock %}
{% block dashboard %}

<!-- Sign In Prompt -->
{% include "components/placeholders/sign_in_placeholder.html" with
    title="Sign in required"
    description="Sign in or create an account to access your API keys."
%}

<!-- API Keys Management -->
<section class="requires-auth container mb-5 pb-5">

  <!-- Breadcrumbs -->
  {% include "components/layout/breadcrumbs.html" with
    base_page="Account"
    base_page_url="/account"
    current_page="API Keys"
  %}

  <!-- API keys -->
  <div class="d-flex flex-wrap">

    <!-- Table -->
    <div id="key-table-container" class="col-12">

      <!-- Title  -->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3">
          <h2 class="sans-serif text-dark mb-0">
            API Keys
          </h2>
          <button
            class="btn btn-sm bg-gradient-green text-white"
            onclick="cannlytics.settings.showNewKeyForm();"
          >
            Add a key
          </button>
        </div>

      <!-- AG-Grid Table -->
      <div
        id="key-table"
        style="height:350px; width:100%;"
        class="ag-theme-quartz"
      ></div>

    </div><!-- End of column -->

    <!-- Options -->
    <div class="col mt-2 mx-3">

      <!-- Create a key card -->
      <div
        id="new-key-card"
        class="mt-4 py-2 d-none"
        style="max-width: 375px;"
      >
        <div class="d-flex align-items-center pb-2">
          <h4 class="sans-serif text-dark serif mb-0">
            New API Key
          </h4>
        </div>
        <div class="col pb-2">
          <p class="fs-6 text-secondary mb-3">
            <small class="sans-serif">
              A Cannlytics API key identifies a particular application,
              granting programmatic use with a selected subset of a user's permissions.
            </small>
          </p>

          <!-- API Key Fields -->
          <form id="new-api-key-form">
            <div class="row mb-3">
              <label
                for="input-key-name"
                class="col-sm-3 col-form-label col-form-label-sm pe-2 text-dark text-no-wrap"
              >
                Key name
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="input-key-name"
                  spellcheck="false"
                  name="name"
                >
              </div>
            </div>
            <div class="row mb-3">
              <label
                for="input-expiration-at"
                class="col-sm-3 col-form-label col-form-label-sm pe-2 text-dark text-no-wrap"
              >
                Expiration
              </label>
              <div class="col-sm-9">
                <input
                  id="input-expiration-at"
                  type="text"
                  class="form-control form-control-sm"
                  name="expiration_at"
                  data-provide="datepicker"
                  data-date-start-date="-0d"
                >
              </div>
            </div>
          </form>

          <!-- Cancel and create buttons -->
          <div class="d-flex justify-content-start mt-4">
            <button
              class="btn btn-sm-light btn-md-light text-dark me-2"
              onclick="cannlytics.settings.hideNewKeyForm()"
            >
              Cancel
            </button>
            <button
              id='create-api-key-button'
              class="btn btn-sm bg-gradient-green text-white"
            >
              Create key
            </button>
            <button
              id="create-api-key-button-loading"
              class="ms-1 btn btn-sm btn-set-width bg-gradient-green text-white d-none"
              type="button"
              title="Loading"
              disabled
            >
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            </button>            
          </div>

        </div><!-- End of fields -->
      </div><!-- End of create key card -->

      <!-- Key created card -->
      <div
        id="key-created-card"
        class="card bg-transparent border-secondary rounded-3 py-2 my-5 d-none"
        style="max-width: 600px;"
      >
        <div class="card-header">
          <h4 class="fs-5 serif text-dark mb-0">API Key Created</h4>
        </div>
        <div class="card-body bg-transparent pb-2">
          <h1 class="fs-6 lh-base text-dark serif">
            Save your API key
          </h1>
          <p class="fs-6 text-secondary mb-3">
            <small>
              Your API key is not stored in our system and cannot be retrieved or re-created.
              We strongly recommend that you encrypt your API keys in your data store
              and in memory when working with them, except when you need to access them
              to interface with the API.
              Your API key is observable if you use HTTP, so,
              please use HTTPS when you use the API.
            </small>
          </p>
          <div class="my-3 row">
            <label
              for="api-key"
              class="col-form-label col-form-label-sm text-dark serif"
            >
              Cannlytics API Key
            </label>
            <div class="col-12">
              <input
                id="api-key"
                type="text"
                readonly
                class="form-control form-control-sm"
                value="long-string-long-string-long-string-long-string"
              >
            </div>
          </div>
          <div class="d-flex justify-content-start mt-4">
            <button
              class="btn btn-sm-light btn-md-light text-dark me-2"
              onclick="cannlytics.settings.closeKeyCreatedForm();"
            >
              Close
            </button>
          </div>
        </div>
      </div>

    </div><!-- End of options -->

  </div><!-- End of API keys -->

</section>

{% endblock dashboard %}

{% block page_js %}
<!-- API Keys JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  // Initialize the API keys table.
  cannlytics.settings.initializeAPIKeys();
});
</script>
{% endblock page_js %}
