<!--
  Buy Tokens | Cannlytics Website
  Created: 6/21/2023
  Updated: 10/4/2024
-->
{% extends "components/layout/dashboard.html" %}
{% block title %}Buy Tokens | Cannlytics{% endblock %}
{% block dashboard_css %}

  <!-- PayPal Orders JavaScript -->
  <script data-sdk-integration-source="integrationbuilder_sc"></script>
  <script src="https://www.paypal.com/sdk/js?client-id={{ paypal.client_id }}&components=buttons"></script>

{% endblock %}
{% block dashboard %}

  <!-- Sign In Prompt -->
  {% include "components/placeholders/sign_in_placeholder.html" with
      title="Sign in required"
      description="Sign in or create an account to purchase tokens."
  %}

  <!-- Checkout -->
  <div id="checkout" class="requires-auth container mb-5 pb-5">

    <!-- Breadcrumbs -->
    {% include "components/layout/breadcrumbs.html" with
      base_page="Account"
      base_page_url="/account"
      nested_page="Subscriptions"
      nested_page_url="/account/subscriptions"
      current_page="Buy tokens"
    %}

    <!-- Cart -->
    <div class="requires-auth col-12 col-md-8 col-lg-5 mt-4">
      <h2 class="sans-serif d-flex justify-content-between align-items-center mt-0 mb-3">
        Your cart
      </h2>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">

          <!-- Item -->
          <div class="markdown">
            <div class="d-flex">
              <div id="order-title" class="fs-5 sans-serif my-0 p-0 flex-grow-1">
                Cannlytics tokens
              </div>
              <div class="sans-serif-text text-muted my-1">x<span id="tokens" class="sans-serif-text">0</span></div>
              <input
                type="range"
                class="visually-hidden"
                id="tokenSlider"
                min="100"
                max="10000"
                step="100"
                value="100"
              >
            </div>
            <div class="sans-serif-text text-muted my-1"><span id="price_per_token" class="sans-serif-text">1</span>￠ per parse</div>
            <div id="current_tokens" class="visually-hidden"></div>
            <div id="order-description mt-3">
              <small class="sans-serif-text text-muted">
                Each COA, label, or receipt parse consumes <strong class="sans-serif-text">1 token</strong>.
                Only successful parses will consume tokens.
                Your tokens are valid for <strong class="sans-serif-text">one month</strong> after purchase.
              </small>
            </div>
          </div>
        </li>

        <!-- Total price -->
        <li class="list-group-item d-flex justify-content-between">
          <span class="sans-serif-text text-dark fw-bold">Total (USD)</span>
          <strong id="price" class="sans-serif-text text-dark"></strong>
        </li>

      </ul>

      <!-- PayPal order button -->
      <div style="width:200px;" class="mt-5">
        <h4 class="sans-serif mb-3">Checkout</h4>
        <div id="paypal-order-tokens-button" class="d-none"></div>
      </div>

    </div>

    <!-- Cancel button -->
    <div class="mt-5">
      <a
        class="btn btn-sm-light btn-md-light"
        href="{% url 'section' page='account' section='subscriptions' %}#buy-tokens"
      >
        Cancel
      </a>
    </div>

  </div><!-- End of form-->

  <!-- Thank you message for after purchase -->
  <div
    id="thank-you-message"
    class="d-none mx-auto pb-5"
    style="max-width:720px;"
  >
    {% include "components/layout/hero.html" with
      title='Checkout Successful'
      description="Congratulations, you have successfully purchased Cannlytics tokens. You can use your tokens to parse data from COAs, labels, and receipts. Put your data to good use."
      primary_action='Buy more tokens'
      primary_action_url='/account/subscriptions#buy-tokens'
      secondary_action='Get started'
      secondary_action_url='https://cannlytics.com/parsers'
      only
    %}
  </div>

{% endblock %}

<!-- JavaScript -->
{% block page_js %}
<script>

  // Initialize subscriptions.
  cannlytics.payments.renderBuyTokensButton();

  // Get the user's price per token.
  cannlytics.payments.getUserTokens();

</script>

{% endblock %}
