<!--
  Subscriptions checkout | Cannlytics Website
  Created: 6/21/2023
  Updated: 10/2/2024
-->
{% extends "components/layout/dashboard.html" %}
{% block title %}Subscriptions checkout | Cannlytics{% endblock %}
{% block dashboard_css %}

  <!-- Minor Style Adjustments -->
  <style>
    .tooltip-inner {text-align: left;}
  </style>

  <!-- PayPal Orders JavaScript -->
  <script src="https://www.paypal.com/sdk/js?client-id={{ paypal.client_id }}&vault=true&intent=subscription"></script>

{% endblock %}
{% block dashboard %}
<section class="container">

  <!-- Breadcrumbs -->
  {% include "components/layout/breadcrumbs.html" with
    base_page="Account"
    base_page_url="/account"
    nested_page="Subscriptions"
    nested_page_url="/account/subscriptions"
    current_page="Checkout"
  %}

  <!-- Sign In Prompt -->
  {% include "components/placeholders/sign_in_placeholder.html" with
      title="Sign in required"
      description="Sign in or create an account to checkout."
  %}

  <!-- Checkout -->
  <div id="checkout" class="requires-auth mb-5 pt-3 pb-5">

    <!-- Cart -->
    <div class="requires-auth col-12 col-md-8 col-lg-6">
      <h2 class="sans-serif text-dark d-flex justify-content-between align-items-center mb-3">
        Your cart
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">

          <!-- Item -->
          <div class="markdown">
            <div class="d-flex">
              <div id="order-title" class="sans-serif fs-5 my-0 p-0 flex-grow-1">
                Cannlytics Data &amp; API Subscription:
                <span id="subscription_name" style="text-transform: capitalize;"></span>
              </div>
            </div>
            <div class="sans-serif text-muted my-1"><span id="rate"></span></div>
            <div id="order-description" class="mt-3">
              <h6 class="sans-serif">Perks:</h6>
              <ul id="subscription-attributes" class="text-dark text-start w-75 mt-0"></ul>
            </div>
          </div>
        </li>

        <!-- Total price -->
        <li class="list-group-item d-flex justify-content-between">
          <span class="sans-serif text-dark fw-bold">Total (USD)</span>
          <strong id="price" class="sans-serif text-dark"></strong>
        </li>

      </ul>

      <!-- PayPal order button -->
      <div style="width:200px;" class="mt-5">
        <h4 class="sans-serif mb-3">Checkout</h4>
        <div id="paypal-button-container"></div>
      </div>

    </div>

    <!-- Cancel button -->
    <div class="mt-5">
      <a
        class="btn btn-sm-light btn-md-light"
        href="{% url 'section' page='account' section='subscriptions' %}"
      >
        Cancel
      </a>
    </div>

  </div><!-- End of form-->

  <!-- Thank you message for after purchase -->
  <div id="thank-you-message" class="d-none">
    {% include "components/layout/hero.html" with
      title='Checkout Successful'
      description="Congratulations on your subscription, you have successfully purchased a Cannlytics AI subscription. You can use your tokens to run AI-powered jobs in the app: https://data.cannlytics.com. You can always purchase additional tokens here: https://cannlytics.com/account/subscriptions. Put your AI jobs to good use! Always here to help, The Cannlytics Team."
      primary_action='Buy more tokens'
      primary_action_url='/account/subscriptions#buy-tokens'
      secondary_action='Get started'
      secondary_action_url='https://data.cannlytics.com'
      image_url="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Femojies%2Fopenmoji%2Fai-coin.svg?alt=media&token=98a9cfd7-94a0-46cb-a59e-f7ee3c1b6dbf"
      only
    %}
  </div>

</section>
{% endblock %}

<!-- JavaScript -->
{% block page_js %}
<script>

  // Get the level of support.
  let url = new URL(window.location.href);
  let subscription = url.searchParams.get('subscription');
  if (!subscription) subscription = 'premium';

  // Initialize subscriptions.
  cannlytics.payments.initializeSupport('premium');

</script>

{% endblock %}
