<!--
  Password Reset Change Page | Cannlytics Website
  Created: 12/5/2020
  Updated: 9/7/2023
-->
{% extends "components/layout/dashboard.html" %}
{% block title %} Password Change Complete | Cannlytics {% endblock %}
{% block dashboard %}
<section class="container py-5" style="max-width:475px;">

  <div class="text-center">

    <!-- Message -->
    <h2 class="sans-serif text-dark mt-5 mb-0">Password Changed</h2>
    <p class="sans-serif-text fs-5 lh-lg mb-3 mt-2">Password reset change complete.</p>

    <!-- Option -->
    <a
      class="btn btn-sm bg-gradient-green text-white"
      style="width: 191px;"
      type="button"
      href="{% url 'section' page='account' section='sign-in' %}"
    >
      Sign In
    </a>

  </div>
{% endblock %}
