<!--
  Password Reset Page | Cannlytics Website
  Created: 2/13/2021
  Updated: 1/8/2022

  Optional: Add reCaptcha.
-->
{% extends "components/layout/dashboard.html" %}
{% block title %}Sign Up | Cannlytics{% endblock %}
{% block dashboard %}
<section class="container pt-5" style="max-width:475px;">

  <!-- Message -->
  <h2 class="sans-serif text-dark mb-0">
    Create an Account
  </h2>
  <p class="sans-serif-text fs-5 lh-lg mb-3 mt-2">
    Sign up with a secure email and password.
  </p>

  <!-- Email -->
  <div class="mb-3 row">
    <label
      for="login-email"
      class="col-sm-2 col-form-label col-form-label-sm"
    >
      Email
    </label>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control form-control-sm"
        id="login-email"
        required
        autofocus
        spellcheck="false"
      >
    </div>
  </div>

  <!-- Password -->
  <div class="mb-3 row">
    <label
      for="sign-up-password"
      class="col-sm-2 col-form-label col-form-label-sm"
    >
      Password
    </label>
    <div class="col-sm-10">
      <input
        autocomplete="new-password"
        type="password"
        class="form-control form-control-sm"
        id="sign-up-password"
        required
      >
    </div>
  </div>

  {% comment %} <!-- Subscribe to Newsletter Option -->
  <div class="form-check markdown mb-3">
    <input id="newsletter-signup" class="app-action form-check-input" type="checkbox" value="" checked>
    <label for="newsletter-signup" class="app-action background-hover form-check-label fs-6">
      <small>Subscribe to the newsletter?</small>
    </label>
  </div> {% endcomment %}

  <!-- Agree to terms of use -->
  <div class="form-check markdown pt-1">
    <input id="sign-up-terms-accepted" class="app-action form-check-input" type="checkbox" value="">
    <label for="sign-up-terms-accepted" class="form-check-label fs-6"><small>
      By creating an account you agree that you have read and agree to our
      <a href="{% url "page" page="terms-of-service" %}" target="_blank">
        terms of service
      </a>.
    </small></label>
  </div>

  <!-- Sign up -->
  <div class="d-flex justify-content-end w-100 mt-2">
    <div>
      <button
        id="sign-up-button"
        class="ms-1 btn btn-sm btn-set-width bg-gradient-green text-white"
        style="max-width:250px;"
        type="button"
        onclick="cannlytics.auth.signUp(event)"
      >
        Sign Up
      </button>
      <button
        id="sign-up-loading-button"
        class="ms-1 btn btn-sm btn-set-width bg-gradient-green text-white d-none"
        type="button"
        disabled
      >
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <!-- Back button -->
  <div class="d-flex align-items-center justify-content-center pb-5">
    <div
      class="d-flex flex-column align-items-start justify-content-center"
      style="margin-top:6rem;margin-bottom:3rem;"
    >
      <p class="sans-serif-text text-center text-small fs-6 font-weight-light">
        <a
          class="background-hover text-dark fs-6"
          href="{% url 'section' page='account' section='sign-in' %}"
        >
          Sign into an existing account &rarr;
        </a>
      </p>
    </div>
  </div>

</section>

{% endblock dashboard %}

{% block page_js %}
<!-- Sign Up JavaScript -->
<script type="text/javascript" charset="utf-8">

  // Add event listener to sign up button.
  var node = document.getElementById('sign-up-password');
  node.addEventListener('keyup', function(event) {
    if (event.key === 'Enter') {
      cannlytics.auth.signUp(event);
    }
  });

</script>
{% endblock %}
