<!--
  Subscription Management Page | Cannlytics Website
  Created: 11/16/2021
  Updated: 10/6/2024
-->
{% extends "components/layout/dashboard.html" %}
{% load static %}
{% block title %}Subscription | Cannlytics{% endblock %}
{% block dashboard_css %}

  <!-- Subscriptions Style -->
  <style>
    .bg-purple {
      background-color: #7B4EA8 !important;
    }
    .bg-orange {
      background-color: #FF7F00 !important;
    }
    .bg-green {
      background-color: #16c995 !important;
    }
    .btn-purple {
      background-color: #7B4EA8 !important;
      color: white;
    }
    .btn-orange {
      background-color: #FF7F00 !important;
      color: white;
    }
    .btn-green {
      background-color: #16c995 !important;
      color: white;
    }
    .selected-subscription {
      border: 2px solid #16c995;
    }
  </style>

  <!-- PayPal Subscriptions JavaScript -->
  <script src="https://www.paypal.com/sdk/js?client-id={{ paypal.client_id }}&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>

{% endblock %}
{% block dashboard %}

  <!-- Subscription Management -->
  <section class=" container mb-2">

    <!-- Breadcrumbs -->
    {% include "components/layout/breadcrumbs.html" with
      base_page="Account"
      base_page_url="/account"
      current_page="Subscriptions"
    %}

    <!-- Subscriptions -->
    <div class="mt-4">
      <h2 class="sans-serif text-dark mb-0">Cannlytics Subscriptions</h2>
      <p class="mt-2 mb-4" style="max-width:560px;">
        <small class="sans-serif-text">
        With your Cannlytics subscription, you'll get access to:
        </small>
      </p>
      <div class="markdown row">
        <!-- Feature List -->
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-archives-list" data-bs-toggle="list" href="#list-archives" role="tab" aria-controls="list-archives">
              Data Archives
            </a>
            <a class="list-group-item list-group-item-action" id="list-api-list" data-bs-toggle="list" href="#list-api" role="tab" aria-controls="list-api">
              API Access
            </a>
            <a class="list-group-item list-group-item-action" id="list-coa-parser-list" data-bs-toggle="list" href="#list-coa-parser" role="tab" aria-controls="list-coa-parser">
              COA Parser
            </a>
            <a class="list-group-item list-group-item-action" id="list-label-parser-list" data-bs-toggle="list" href="#list-label-parser" role="tab" aria-controls="list-label-parser">
              Label Parser
            </a>
            <a class="list-group-item list-group-item-action" id="list-receipt-parser-list" data-bs-toggle="list" href="#list-receipt-parser" role="tab" aria-controls="list-receipt-parser">
              Receipt Parser
            </a>
            <a class="list-group-item list-group-item-action" id="list-standardizer-list" data-bs-toggle="list" href="#list-standardizer" role="tab" aria-controls="list-standardizer">
              Standardizer
            </a>
          </div>
        </div>
      
        <!-- Feature Descriptions -->
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">

            <!-- Data Archives -->
            <div class="tab-pane fade show active" id="list-archives" role="tabpanel" aria-labelledby="list-archives-list">
              <h3 class="mt-0 sans-serif">Data Archives</h3>
              <p class="sans-serif-text">
                You'll get access to our repository of
                public cannabis lab test results obtained through public records requests and certificates of analysis (COAs) available online. Lab results are useful for cannabis cultivators, processors, retailers, consumers, and everyone else too.</p>
            </div>
      
            <!-- API Access -->
            <div class="tab-pane fade" id="list-api" role="tabpanel" aria-labelledby="list-api-list">
              <h3 class="mt-0 sans-serif">API Access</h3>
              <p class="sans-serif-text">The Cannlytics API allows users to interface with cannabis data and statistics. Each API endpoint handles authentication, error handling, and identifying the precise logic to perform. You can perform all of your favorite
              parsing programmatically with the API.</p>
            </div>

            <!-- COA Parser -->
            <div class="tab-pane fade" id="list-coa-parser" role="tabpanel" aria-labelledby="list-coa-parser-list">
              <h3 class="mt-0 sans-serif">COA Parser</h3>
              <p class="sans-serif-text">
                The COA (Certificate of Analysis) Parser, <a href="https://github.com/cannlytics/cannlytics/tree/main/cannlytics/data/coas">CoADoc</a>, extracts data from COA PDFs or URLs. This tool enables you to parse lab results, including cannabinoids, terpenes, contaminants, and every data point on the page, directly from PDFS, images, URLs, and QR codes.
              </p>
            </div>

            <!-- Label Parser -->
            <div class="tab-pane fade" id="list-label-parser" role="tabpanel" aria-labelledby="list-label-parser-list">
              <h3 class="mt-0 sans-serif">Label Parser</h3>
              <p class="sans-serif-text">
                The Label Parser parses images of cannabis product labels, extracting text-based data such as strain names, product type, and any lab results. Powered by OpenAI's latest models, <b>BudSpender</b> processes these images into usable datasets for compliance checks, product categorization, and more.
              </p>
            </div>
      
            <!-- Receipt Parser -->
            <div class="tab-pane fade" id="list-receipt-parser" role="tabpanel" aria-labelledby="list-receipt-parser-list">
              <h3 class="mt-0 sans-serif">Receipt Parser</h3>
              <p class="sans-serif-text">
                The Receipt Parser allows you to upload images of cannabis purchase receipts, extracting purchase data such as product names, prices, and quantities. With <b>BudSpender</b>, this tool can help you analyze spending patterns, track inventory, and generate detailed reports.
              </p>
            </div>

            <!-- Standardizer -->
            <div class="tab-pane fade" id="list-standardizer" role="tabpanel" aria-labelledby="list-standardizer-list">
              <h3 class="mt-0 sans-serif">Standardizer</h3>
              <p class="sans-serif-text">
                The Standardizer helps normalize product names, strain names, and product types by applying a consistent naming structure. Whether you are standardizing data in bulk or individually, this tool ensures uniformity across your dataset for accurate comparisons and analysis.
              </p>
            </div>

          </div>
        </div>
      </div>

      <!-- Tiers -->
      <h2 class="sans-serif text-dark mb-0 mt-5 pt-5">Pricing</h2>
      <p class="markdown mt-2 mb-0" style="max-width:560px;">
        <small class="sans-serif-text">
          We want cannabis data and analytics to be affordable for everyone.
          Our monthly data and API subscription is designed for you to get all
          of the cannabis data that you need. If you need more or less, then please
          <a href="{% url 'page' page='support' %}?topic=custom">contact us</a>.
        </small>
      </p>
      <div class="row row-cols-1 row-cols-md-3 mb-3 mt-3 text-center">
        {% for item in subscription_plans %}
          <div class="col-8 col-md-6 col-lg-4">
            <div id="subscription-card-{{ item.id }}" class="subscription-card card mb-4 shadow-sm">
              <div class="card-header bg-gradient-{{ item.color }}">
                <h4 class="fw-bold text-white my-0 sans-serif">
                  Data &amp; API Subscription
                </h4>
              </div>
              <div class="card-body bg-transparent d-flex flex-column justify-content-between align-items-center">
                <h3 class="text-dark card-title pricing-card-title mt-3 mb-2 sans-serif-text">
                  {{ item.price }}
                </h3>
                <ul class="text-dark list-unstyled mt-3 mb-4 text-start w-75">
                  {% for attribute in item.attributes %}
                      <li class="fs-6 mb-2">
                        <svg class="" style="width:24px;height:24px;">
                          <use href="{% static "website/images/emojies/check.svg" %}#check-emoji"></use>
                        </svg>
                        <span class="sans-serif-text">{{ attribute }}</span>
                      </li>
                  {% endfor %}
                </ul>
                <div class="d-grid gap-2">
                  <a
                    id="subscribe-button-{{ item.id }}"
                    class="subscribe-button btn bg-gradient-{{ item.color }} text-white"
                    href="{% url 'section' page='account' section='checkout' %}?subscription='{{ item.id }}'"
                  >
                    Subscribe
                  </a>
                  <button
                    id="cancel-button-{{ item.id }}"
                    class="cancel-button btn btn-sm-light btn-lg-light text-dark d-none"
                    data-bs-toggle="modal"
                    data-bs-target="#cancel-subscription-dialog"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div><!-- End of tiers -->

    </div><!-- End of support options -->

    <!-- Tokens-->
    {% comment %} {% include "pages/account/tokens.html" with user=user only%} {% endcomment %}

    <!-- Future work: Usage -->

    <!-- Consulting -->
    <div class="container mb-5 mt-5 pt-5">
      <div style="max-width:560px;">
        <svg class="pt-3 pe-3" style="float:left;width:125px;height:125px;">
          <use href="{% static "website/images/emojies/toolbox.svg" %}#toolbox-emoji"></use>
        </svg>
        <h2 class="pt-4 text-dark sans-serif">Consulting &amp; Development</h2>
        <p class="mt-2">
          <small class="sans-serif-text">
          You can employ the Cannlytics team to help you solve any problems at hand.
          In general, the Cannlytics team is available for
          <strong>$1,850 for an approximately one month job</strong>,          
          <strong>$500 for a one week job</strong>,
          or for <strong>$42 per hour</strong>.
          We are always happy to talk, let you know how long a job
          will take us, and help you find your best-possible solution.
          </small>
        </p>
        <p class="text-start mt-3">
          <a
            class="icon-link icon-link-hover btn bg-gradient-orange text-white sans-serif"
            href="{% url 'page' page='support' %}?topic=custom"
          >
            Request a job
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.293 7.5H1.5a.5.5 0 0 0 0 1h7.793L7.146 11.354a.5.5 0 1 0 .708.708l3-3z"/>
            </svg>
          </a>
        </p>
      </div>
    </div>

    <!-- Historic Lab Result Migration -->
    <div class="container mb-5 mt-5 pt-5">
      <div class="py-5" style="max-width:560px;">
        <svg class="pt-3 pe-3" style="float:left;width:125px;height:125px;">
          <use href="{% static "website/images/emojies/sparkler.svg" %}#sparkler-emoji"></use>
        </svg>
        <h2 class="pt-4 text-dark sans-serif">Standardize your data!</h2>
        <p class="mt-2">
          <small class="sans-serif-text">
            Your laboratory data are valuable to you and your clients,
            therefore, you can have us standardize your
            archive of lab results, in whatever format they may be in, into a clean,
            well-formatted, accessible workbook for you. Our standard rate is
            <strong>$500 per lab</strong> and <strong>50¢ per document</strong>.
          </small>
        </p>
        <p class="text-start mt-3">
          <a
            class="icon-link icon-link-hover btn bg-gradient-green text-white sans-serif"
            href="{% url 'page' page='support' %}?topic=data-migration"
          >
            Request a quote
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.293 7.5H1.5a.5.5 0 0 0 0 1h7.793L7.146 11.354a.5.5 0 1 0 .708.708l3-3z"/>
            </svg>
          </a>
        </p>
      </div>
    </div>

    <!-- Metrc support -->
    <div class="my-5 pt-5">
      {% include "components/promos/metrc.html" with verifications=verifications only %}
    </div>

  </section>

  <!-- Cancel subscription dialog -->
  <div id="cancel-subscription-dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title sans-serif text-dark">Cancel your subscription?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-dark">
          Are you sure that you want to cancel your subscription?
          If you do decide to cancel, then your tokens will still be valid
          until the end of your billing period.
          You may always subscribe again at any time.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-sm-light btn-lg-light text-dark"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-warning"
            onclick="cannlytics.payments.cancelSubscription()"
          >
            Yes, cancel my subscription
          </button>
        </div>

      </div>
    </div>
  </div>

{% endblock %}

{% block page_js %}
<!-- Subscriptions JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {

  // Initialize the interface with the user's current subscriptions.
  cannlytics.payments.initializeSubscriptions();

  // Enable tooltips.
  cannlytics.ui.enableTooltips();

});
</script>
{% endblock %}
