<!doctype html>
<html>

  <!-- Contact Page -->
  <!-- Created 1/6/2021 -->
  {% extends "cannlytics_website/index.html" %}
  {% block title %}Contact | {{ general.title }}{% endblock %}
  {% load static crispy_forms_tags %}
  {% block material %}
    <div class="contact container my-4 my-lg-5 px-5">

      <!-- Hero -->
      <div class="row featurette mt-5">
        <div class="col-md-7 order-2 order-lg-1">
          <h2 class="h1 serif text-gradient-reverse pb-3 mt-0">
            You're welcome to contact us anytime about anything.
          </h2>
          <p class="h5 double-line text-dark text-start text-muted">
            Please enter your contact information and message
            and the team will get back to you as soon as possible.
          </p>

          <!-- Fields -->
          {% crispy form %}

        </div>
        <div class="col-md-5 order-1 order-lg-2 mb-3">
          <img
            src="{% static 'cannlytics_website/images/illustrations/cannlytics_office.svg' %}"
            width="100%"
          >
        </div>
      </div>
      
      {% comment %} <div class="row featurette my-5">

        <!--  Image -->
        <div class="col-md-5 order-md-1 order-lg-2 mb-5">
          <img
            src="{% static 'cannlytics_website/images/illustrations/cannlytics_office.svg' %}"
            width="100%"
          >
        </div>

        <!-- Text -->
        <div class="col-md-7 order-md-2 order-lg-1">
          <h2 class="display-4 featurette-heading text-gradient-reverse mt-0 pb-3">
            Contact the team.
            <span class="serif text-muted">
              You're welcome to contact us anytime about anything.
            </span>
          </h2>
          <p class="lead double-line mb-3">
            Please enter your contact information and message
            and the team will get back to you as soon as possible.
          </p>

          <!-- Fields -->
          {% crispy form %}

        </div>
      </div> {% endcomment %}

    </div>
  {% endblock %}

</html>
