<!doctype html>
<html>
<!--
  Sign In Dialog | Cannlytics Website
  Created: 1/24/2021
  Updated: 9/15/2024
-->
{% load static %}

<!-- Login Dialog -->
<div id="sign-in-dialog" class="position-fixed top-0 start-0 end-0 bottom-0 d-flex align-items-center justify-content-center bg-dark bg-opacity-50 d-none">
  <div class="bg-white rounded shadow-lg w-100 p-4 position-relative" style="max-width: 24rem;">

    <!-- Close button -->
    <button id="close-sign-in-dialog" type="button" class="btn-close position-absolute top-0 end-0 m-2" aria-label="Close"></button>

    <!-- Dialog content -->
    <h2 class="fs-4 fw-semibold mb-4">Sign In</h2>
    <form>
      <div class="mb-3">
        <label for="sign-in-email" class="form-label">Email address</label>
        <input type="email" id="sign-in-email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="sign-in-password" class="form-label">Password</label>
        <input type="password" id="sign-in-password" class="form-control" required>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <button type="submit" class="btn btn-primary">
          Sign In
        </button>
        <a href="{% url 'section' page='account' section='password-reset' %}" class="text-decoration-none">Forgot your password?</a>
      </div>
    </form>
    <p class="text-center fw-light mt-4 fs-6">
      New to Cannlytics?
      <a href="{% url 'section' page='account' section='sign-up' %}" class="text-decoration-none">
        <strong>Sign up!</strong>
      </a>
    </p>
  </div>
</div>

<script>
  // Add sign-in on enter on login password field.
  document.getElementById('sign-in-password').addEventListener('keyup', function(event) {
    event.preventDefault();
    if (event.keyCode === 13) cannlytics.auth.signIn(event);
  });

  // Open the sign-in dialog
  document.getElementById('open-sign-in-dialog').addEventListener('click', function(event) {
    event.preventDefault();
    document.getElementById('sign-in-dialog').classList.remove('d-none');
  });

  // Close the sign-in dialog
  document.getElementById('close-sign-in-dialog').addEventListener('click', function() {
    document.getElementById('sign-in-dialog').classList.add('d-none');
  });

  // Close the dialog when clicking outside of it
  document.addEventListener('click', function(event) {
    if (event.target.id === 'sign-in-dialog') {
      document.getElementById('sign-in-dialog').classList.add('d-none');
    }
  });
</script>

</html>
