<!--
  Sidebar
  Created: 9/29/2024
  Updated: 9/29/2024
-->
<div id="sidebar" class="sidebar bg-body d-none d-md-block">
  <h5 class="sidebar-title sans-serif fs-6 mt-0">Filter by</h5>

  <!-- COAs -->
  <div class="filter-item active-filter">
    <div>
      <small>📜 COAs</small>
    </div>
    <span class="badge bg-secondary">0</span>
  </div>

  <!-- Results -->
  <div class="filter-item">
    <div>
      <small>🧪 Results</small>
    </div>
    <span class="badge bg-secondary">0</span>
  </div>

  <!-- Strains -->
  <div class="filter-item">
    <div>
      <small>🪴 Strains</small>
    </div>
    <span class="badge bg-secondary">0</span>
  </div>

  <!-- Samples -->
  <div class="filter-item">
    <div>
      <small>🧑‍🌾 Organizations</small>
    </div>
    <span class="badge bg-secondary">0</span>
  </div>

  <!-- Samples -->
  <div class="filter-item">
    <div>
      <small>🔬 Compounds</small>
    </div>
    <span class="badge bg-secondary">0</span>
  </div>

</div>
