 <!--
  Select Menu for Small Screens (hidden on larger screens)
  Created: 9/29/2024
  Updated: 10/1/2024
-->
<div id="search-select" class="d-block d-md-none mb-3">
  <select
    id="filter-select"
    class="form-select"
    onchange="cannlytics.search.filterByDataType(this.value)"
  >
    <option value="all" selected>🔍 All</option>
    <option value="coas">📜 COAs</option>
    <option value="results">🧪 Results</option>
    <option value="strains">🪴 Strains</option>
    <option value="organizations">🧑‍🌾 Organizations</option>
    <option value="compounds">🔬 Compounds</option>
  </select>
</div>