<!--
  Search Bar
  Created: 2/26/2024
  Updated: 10/6/2024
-->
<div class="search-bar w-100 my-3 mx-2">
  <div id="search-container" class="input-group input-group-sm">

    <!-- Filter -->
    <button
      id="search-filter-button"
      class="btn btn-sm btn-outline-primary filter-icon"
      type="button"
    >
      <i class="bi bi-sliders"></i>
    </button>

    <!-- Search Input -->
    <input
      id="searchInput"
      type="text"
      class="form-control"
      placeholder="{{ placeholder_text | default:'Prompt...'}}"
      aria-label="Prompt"
    >

    <!-- Clear button -->
    <button
      id="clear-search-button"
      class="btn btn-sm btn-outline-primary"
      type="button"
      style="display: none;"
    >
      <i class="bi bi-x"></i>
    </button>

    <!-- Search button -->
    <button
      id="search-button"
      class="btn btn-sm btn-outline-primary"
      type="button"
    >
      <i class="bi bi-search"></i>
    </button>

  </div>

  <!-- Search menu -->
  <div id="filter-menu" class="filter-menu bg-body hidden">

    <!-- Filters -->
    <div class="menu-section">

      <!-- Data selection -->
      <h6 class="sans-serif mb-0">Data</h6>
      {% include "components/forms/data_type_selection.html" %}

      <!-- State selection buttons -->
      <h6 class="sans-serif mt-2">State</h6>
      {% include "components/forms/state_selection.html" %}

      <!-- Date selection -->
      <h6 class="sans-serif mt-3">Date</h6>
      {% include "components/forms/date_selection.html" %}

      {% comment %}
      <!-- TODO: Add more filters based on data type -->
      <!-- Filter by product type -->
      <h6 class="sans-serif mt-4">Product Type</h6>
      {% include "components/forms/product_type_selection.html" %}
      {% endcomment %}
      
    </div>

  </div>

</div>

<!-- Search JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {

  // Initialize search bar.
  cannlytics.search.initializeSearchBar();

});
</script>
