<!doctype html>
<html>
  <!--
    Features
    Created: 1/5/2021
    Updated: 7/27/2021
    FIXME:
      - Underline is obnoxious.
  -->
  {% load static %}
  <div class="ground">
    <div class="container features">
      <h2 class="serif text-dark">Why Cannlytics?</h2>
      <div class="row justify-content-center">
        {% for feature in features %}
          <div class="col-lg-4 col-md-5 mb-3 px-5 pb-5 p-md-4 text-center">
            <img
              class="mb-4 mx-auto"
              src="{% static feature.image %}?{% now 'U' %}"
              style="height:175px;"
            >
            <h2 class="h5 serif text-dark text-start mb-3">
              {{ feature.title }}
            </h2>
            <p class="h6 double-line text-start text-dark">
              <small>{{ feature.message }}</small>
            </p>
            {% if feature.action %}
              <p class="text-start fs-6"><small>
                <a
                  class="text-dark fw-bold sliding-action"
                  href="{{ feature.action_url }}"
                >
                  <small>{{ feature.action }} &rarr;</small>
                </a>
              </small></p>
              {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</html>
