<!doctype html>
<html>
<!--
  Profile Page | Cannlytics
  Created: 10/15/2021
  Updated: 10/15/2021
-->
{% extends "website/index.html" %}
{% load static %}
{% block title %}Profile | Cannlytics{% endblock %}
{% block material %}

  <!-- Title Section -->
  <section class="container mb-2 mt-5">

    <h2 class="mb-3 pt-5 serif text-dark">
      Profile
    </h2>
    <p class="fs-6 double-line" style="max-width:540px;">
      <small>
        Personalize your presence in the Cannlytics community.
      </small>
    </p>

  </section>

{% endblock material %}