<!--
  Banner | Cannlytics Website
  Created: 6/27/2021
  Updated: 9/22/2024
-->
{% load static %}
<div id="main-banner" class="d-flex align-items-center py-0 px-4">

  <!-- Logo -->
  <a 
    class="d-flex align-items-center me-2 pt-0"
    href="{% url 'index' %}"
    aria-label="Cannlytics"
  >
    <img
      src="{% static 'website/images/logos/cannlytics_logo_with_text_light.svg' %}"
      class="light-only"
      height="32px"
      alt="Cannlytics"
    >
    <img
      src="{% static 'website/images/logos/cannlytics_logo_with_text_dark.svg' %}"
      class="dark-only"
      height="32px"
      alt="Cannlytics"
    >
  </a>

  <!-- TODO: Slug / organization -->

  <!-- Search -->
  {% include "components/forms/search.html" %}

  <!-- Horizontal spacer -->
  <div class="ms-auto d-none d-lg-block"></div>

  <!-- TODO: New button -->

  <!-- Navigation menu -->
  {% include "components/layout/navigation.html" %}

  <!-- Sign-in button -->
  <a
    id="open-sign-in-dialog"
    type="button"
    class="no-user-only visually-hidden btn btn-sm bg-gradient-orange text-white text-nowrap mx-3"
    href="{% url 'section' page='account' section='sign-in' %}"
  >
    Sign in
  </a>

  <!-- User Menu -->
  {% include "components/menus/user_menu.html" %}

  <!-- Theme Toggle -->
  {% include "components/buttons/theme_toggle.html" %}

</div>
