<!doctype html>
<html>
<!--
  Banner | Cannlytics Website
  Created: 6/27/2021
  Updated: 9/19/2024
-->
{% load static %}
<div id="main-banner" class="text-dark d-flex justify-content-between py-2 px-2 px-lg-3">
  <div class="d-flex"></div>
  <div class="d-flex align-items-center justify-content-center flex-wrap fw-bold">

    <!-- Navigation menu -->
    {% include "components/layout/navigation.html" %}

    <!-- Logo -->
    <a 
      class="d-flex align-items-center me-2 pt-0"
      href="{% url 'index' %}"
      aria-label="Cannlytics"
    >
      <img
        src="{% static 'website/images/logos/cannlytics_logo_with_text_light.svg' %}"
        class="light-only"
        height="42px"
        alt="Cannlytics"
      >
      <img
        src="{% static 'website/images/logos/cannlytics_logo_with_text_dark.svg' %}"
        class="dark-only"
        height="42px"
        alt="Cannlytics"
      >
    </a>

    <!-- TODO: Slug / organization -->

    <!-- Search -->
    {% include "components/forms/search.html" %}

    <!-- TODO: New button -->

    <!-- Sign-in button -->
    <a
      id="open-sign-in-dialog"
      type="button"
      class="btn btn-sm bg-gradient-orange text-white text-nowrap serif"
      href="#"
      data-bs-target="#sign-in-dialog"
      data-bs-toggle="modal"
    >
      Sign in
    </a>

    <!-- User Menu -->
    {% include "components/menus/user_menu.html" %}

    <!-- Theme Toggle -->
    {% include "components/buttons/theme_toggle.html" %}

  </div>
  <div class="d-flex d-lg-none"></div>
</div>
</html>