<!--
  Dashboard | Cannlytics
  Created: 1/5/2021
  Updated: 10/6/2024
-->
{% extends "index.html" %}
{% block material %}
<div class="d-flex">
  <div class="main-content w-100">

    <!-- Header -->
    <header>
      {% include "components/layout/banner.html" %}
      {% block dashboard_tabs %}{% endblock %}
    </header>

    <!-- Content -->
    <main id="dashboard" class="mt-3">
      {% block dashboard %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      {% include "components/layout/footer.html" %}
    </footer>

    <!-- Dashboard JavaScript -->
    {% block page_js %}{% endblock %}

  </div>
</div>
{% endblock %}
