<!doctype html>
<html>
<!--
  Footer Template | Cannlytics Website
  Created: 12/30/2020
  Updated: 9/21/2024
-->
{% load static %}

<!-- Back to the top -->
<button
  onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"
  class="btn btn-link cannlytics-light-green-text text-decoration-none me-3"
  style="float:right; transform:translateY(-50px); color:#ccc; border:none; background:transparent; font-size:18px;"
  title="Go back to the top."
>
  <i class="bi bi-arrow-up"></i>
</button>

<!-- Footer -->
<footer class="pt-md-5 px-2 px-md-5">
  <div class="container">
    <div class="row justify-content-center w-100 m-0">

      <!-- Company -->
      <div class="col col-md-4 me-3 me-md-3 ps-0 mb-3">
        <div class="d-flex d-flex flex-column align-items-start flex-wrap">

          <!-- Logo -->
          <a
            class="navbar-brand d-flex align-items-center px-1"
            href="{% url 'index' %}"
            title="Go to the homepage."
          >
            <img
              src="{% static 'website/images/logos/cannlytics_logo_with_text_light.png' %}"
              class="light-only"
              style="height:40px;"
              alt="Cannlytics"
            >
            <img
              src="{% static 'website/images/logos/cannlytics_logo_with_text_dark.png' %}"
              class="dark-only"
              style="height:40px;"
              alt="Cannlytics"
            >
          </a>
          
          <!-- Phone -->
          <a
            class="sans-serif fs-6 mt-2"
            href="tel:{{ app.contact_phone_number }}"
            title="Call us anytime."
          >
            <small class="sans-serif text-dark light-green-hover">
              📱 {{ app.contact_phone }}
            </small>
          </a>

          <!-- Email -->
          <a
            class="sans-serif fs-6"
            href="mailto:{{ app.contact_phone }}"
            title="Email us anytime."
          >
            <small class="sans-serif text-dark light-green-hover">
              📧 {{ app.contact_email }}
            </small>
          </a>
      
          <!-- Copyright -->
          <div class="fs-6 text-small mt-0">
            <small class="tiny-text text-dark">Copyright &copy; Cannlytics 2020-2024</small>
          </div>

          <!-- Data License -->
          <div class="fs-6 text-small mt-0">
            <small class="tiny-text text-dark">Data License:
              <a
                class="sans-serif text-dark light-green-hover"
                href="https://creativecommons.org/licenses/by/4.0/deed.en"
              >
                CC BY 4.0
              </a>
            </small>
          </div>

          <!-- Github Stars -->
          <div class="d-flex pt-2">
            <iframe
              src="https://ghbtns.com/github-btn.html?user=cannlytics&repo=cannlytics&type=star&count=true"
              frameborder="0"
              scrolling="0"
              width="150"
              height="20"
              title="Check out Cannlytics code and data on GitHub!"
            ></iframe>
          </div>

        </div>
      </div>

      <!-- Index -->
      {% for item in app.index %}
        <div class="col mx-6 mx-md-3 mb-3" style="mid-width:140px;">
          <h6 class="h5 d-flex align-items-end serif-heading text-dark mb-3 mt-2">
            {{ item.name }}
          </h6>
          <ul class="list-unstyled">
            {% for item in item.links %}
              <li class="mb-1">
                <a
                  class="fs-6 sans-serif"
                  {% if item.app %}
                    href="{% url item.app item.path %}"
                  {% elif item.hashtag %}
                    href="/{{ item.url }}#{{ item.hashtag }}"
                  {% elif item.page %}
                    href="{% url 'page' page=item.page %}"
                  {% else %}
                    href="{{ item.url }}"
                  {% endif %}
                >
                  <small class="text-dark">{{ item.title }}</small>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}<!-- End of Index -->

    </div>
  </div>

</footer>
</html>
