<!--
  Navigation | Cannlytics Website
  Created: 1/7/2021
  Updated: 9/21/2024
-->
{% load static %}

<!-- Navigation Menu Toggle -->
<button
  class="btn btn-sm btn-outline-primary btn-no-outline dropdown-toggle p-0"
  type="button"
  data-bs-toggle="dropdown"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <i class="bi bi-list" style="font-size: 21px;"></i>
</button>

<!-- Navigation Menu -->
<ul class="dropdown-menu py-0 rounded custom-menu">

  <!-- Dynamic navigation items -->
  {% for item in app.index %}

    <!-- Navigation section -->
    <li style="padding-top: 3px !important; padding-bottom: 3px !important; color: #fff !important;"
      class="dropdown-header py-0 
      {% if forloop.first %}
        bg-gradient-purple
      {% elif forloop.counter == 2 %}
        bg-gradient-orange
      {% elif forloop.counter == 3 %}
        bg-gradient-green
      {% else %}
        bg-gradient-special
      {% endif %}
    ">
      {{ item.name }}
    </li>

    <!-- Navigation links -->
    {% for link in item.links %}
      <li {% if forloop.last %}class="pb-2"{% endif %}>
        {% if link.url %}
        <a class="dropdown-item fs-6 sans-serif py-0 custom-link" href="{{ link.url }}">
          <small>{{ link.title }}</small>
        </a>
        {% else %}
        <a class="dropdown-item fs-6 sans-serif py-0 custom-link" href="{% url 'page' page=link.page %}">
          <small>{{ link.title }}</small>
        </a>
        {% endif %}
      </li>
    {% endfor %}

    <!-- Divider -->
    {% if not forloop.last %}
    <li><hr class="dropdown-divider my-0"></li>
    {% endif %}
  
  {% endfor %}
</ul>
