<!doctype html>
<html>
  <!-- Cannabis Data Science Page -->
  <!-- Created 2/23/2021 -->
  {% extends "website/index.html" %}
  {% load static %}
  {% block title %}Cannabis Data Science | Cannlytics{% endblock %}
  {% block material %}
    Cannabis Data Science

    <!-- Paul Kitko's quotes:
    
      "The Cannabis Data Science meetup is a great way to expand your network with those interested in building a data-driven cannabis industry."
      "Want an insider's view into the data-driven cannabis industry?  Start here!"
      "Input from the Cannabis Data Science meetup community helped me complete my data science graduate project - priceless!"

    -->


    <!-- Shyam's quote:
    
      "Today's session was awesome & learned some best practices for visualizing my time-series models. Thanks, Keegan Skeate."

    -->

    <!-- TODO: Get a quote from Heather -->

  {% endblock %}
</html>
