<!--
  State Page | Cannlytics Website
  Created: 1/2/2025
  Updated: 1/2/2025
-->
<section class="container markdown">

  <!-- Breadcrumbs -->
  {% include "components/layout/breadcrumbs.html" with
    base_page="States"
    base_page_url="/states"
    current_page=id
  %}

  <!-- TODO: County map -->

  <!-- TODO: State name -->

  <!-- TODO: Population -->

  <!-- TODO: Regulatory body -->

  <!-- TODO: Public records -->

  <!-- TODO: Links to: "Licenses", "Results", "Strains" -->

  <!-- TODO: License Stats -->

  <!-- TODO: Results Stats -->

  <!-- TODO: Datasets -->


</section>
