/*--------------------------------------------------------------------------
  Cannlytics Website Style
  Page: Home
  Author: Keegan Skeate
  Created: 9/5/2020
  Updated: 9/15/2020
---------------------------------------------------------------------------*/

.homepage {
  min-height: calc(100vh - 128px);
  /* background: url("../images/theme/bean_stalk_lean_right.svg") no-repeat; */
  background-size: cover;
}
.homepage section {
  display: -webkit-flex;
  display: flex;
}
.homepage nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}
.homepage nav ul {
  list-style-type: none;
  padding: 0;
}
.homepage article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}
.homepage footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  .homepage section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/*--------------------------------------------------------------------------
  Images
---------------------------------------------------------------------------*/

.garden-sign-feature {
  height: 10rem;
  width: 10rem;
  background: url("../images/theme/garden_sign.svg") no-repeat;
  background-size: contain;
}
.footer-certificate {
  height: 3rem;
  /* float: right;
  bottom:  20%; */
}

/*--------------------------------------------------------------------------
  Containers
---------------------------------------------------------------------------*/

.container {
  max-width: 960px;
}

/*--------------------------------------------------------------------------
  Header
---------------------------------------------------------------------------*/

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------------------
  Footer
---------------------------------------------------------------------------*/

.footer-header {
  height: 2rem;
  display: flex;
  align-items: flex-end;
}

/*--------------------------------------------------------------------------
  Products
---------------------------------------------------------------------------*/

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*--------------------------------------------------------------------------
  Pricing
---------------------------------------------------------------------------*/

.pricing-header {
  max-width: 700px;
}
.card-deck .card {
  min-width: 220px;
}

/*--------------------------------------------------------------------------
  Albums
---------------------------------------------------------------------------*/

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron h1 {
  font-weight: 300;
}
.jumbotron .container {
  max-width: 40rem;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

/*--------------------------------------------------------------------------
  Forms
---------------------------------------------------------------------------*/

.lh-condensed {
  line-height: 1.25;
}

/*--------------------------------------------------------------------------
  Features
---------------------------------------------------------------------------*/

.features {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
