/*--------------------------------------------------------------------------
  Cannlytics Website Style
  Author: Keegan Skeate
  Created: 9/4/2020
  Updated: 10/2/2020
---------------------------------------------------------------------------*/

/* TODO: Import only sizes used */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:100,200,300,400,500,600,700');
@import url("https://fonts.googleapis.com/css?family=Cinzel:400");
/* import './assets/fonts/et-line/et-line.css'; */

/*--------------------------------------------------------------------------
  Fonts
---------------------------------------------------------------------------*/

* {
  font-family: 'Libre Franklin';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', serif;
}
.sans-serif {
  font-family: 'Libre Franklin';
}
.serif {
  font-family: 'Libre Baskerville' !important
}
.brand-font {
  font-family: 'Cinzel';
}

/*--------------------------------------------------------------------------
  Main Tags
---------------------------------------------------------------------------*/

a {
  text-decoration: none;
}
/* a[href]:hover {
  background: #e7f2e2;
  text-decoration: none;
}
a[href]:visited {
  color: #505050;
  text-decoration-color: #777;
}
a[href]:link {
  color: #049;
  text-decoration-color: #5e93d5;
} */
p {
  margin-bottom: 0;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 1.25rem;
}
p, ul {
  line-height: 1.5;
}
.bold {
  font-weight: 600 !important;
}
.underline {
  text-decoration: underline;
}

/*--------------------------------------------------------------------------
  General
---------------------------------------------------------------------------*/
/* body, html, .base, #page {
  min-height: 100%;
} */
body {
  margin: 0;
  background: #fff;
  overflow-x: hidden;
}

/*--------------------------------------------------------------------------
  Dark Theme
---------------------------------------------------------------------------*/

body.dark {
  background: #281e52;
  /* background: -webkit-linear-gradient(to top left, #544a7d, #ffd45233); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to top left, #544a7d, #ffd45233); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body.dark p,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #fff;
}
body.dark .nav-link {
  color: #ccc !important;
}
body.dark li a {
  color: #fff !important;
}

/*--------------------------------------------------------------------------
  Colors
---------------------------------------------------------------------------*/
.light-green-fade {
  background: linear-gradient(to left top,#d4fc7933 50%,#fff 50%)
}
body.dark .light-green-fade {
  background: transparent;
}
.night-fade {
  background: #281e52;
  background: -webkit-linear-gradient(to top left, #281e52, #ffd45233);
  background: linear-gradient(to top left, #281e52, #ffd45233);
}
.grass-background {
  background: #fff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, #45B64980, #DCE35B80);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #45B64980, #DCE35B80); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}
.gradient.grass {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.cannlytics-light-orange {
  background: #ffa600;
}
.cannlytics-light-orange-text {
  color: #ffa600;
}
a.cannlytics-light-orange-text:hover {
  color: #e53a23ff !important;
}
.cannlytics-dark-orange {
  background: #e53a23ff;
}
.cannlytics-dark-orange-text {
  color: #e53a23ff;
}
a.cannlytics-dark-orange-text:hover {
  color: #ffa600 !important;
}
.cannlytics-green {
  background: #45B649;
}
.cannlytics-green-text {
  color: #45B649;
}
.cannlytics-dark-green {
  background: #3f7f34ff;
}
.cannlytics-dark-green-text {
  color: #3f7f34ff;
}
.cannlytics-darkest-green {
  background: #104607ff;
}
.cannlytics-darkest-green-text {
  color: #104607ff;
}
.cannlytics-light-green {
  background: #96e6a1;
}
.cannlytics-light-green-text {
  color: #96e6a1;
}
a.light-green-hover:hover,
a.cannlytics-light-green-text:hover {
  color: #96e6a1 !important;
}

/*--------------------------------------------------------------------------
  Titles
---------------------------------------------------------------------------*/

.brand {
  display: flex;
  align-items: flex-end;
}
.brand-title {
  font-family: 'Cinzel' !important;
  letter-spacing: 1.2px;
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}
.brand-copyright {
  font-size: 8px;
}

/*--------------------------------------------------------------------------
  Theme Components
---------------------------------------------------------------------------*/

.form-control:focus {
  border-color: #96e6a1;
  box-shadow: 0 0 0 0.2rem #96e6a140;
}
.custom-checkbox .custom-control-label::after,
.custom-checkbox .custom-control-label::before {
  border-color: #96e6a1 !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #45B649 !important;
  border-color: #96e6a1 !important;
}
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  /* box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25) */
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #45B64940;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  /* box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25) */
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #45B64940;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #96e6a1;
}

/*--------------------------------------------------------------------------
  Layout
---------------------------------------------------------------------------*/

.simple-flex {
  display: flex;
  align-items: center;
}
.simple-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden-item {
  display: none !important;
}
.invisible-item {
  visibility: hidden;
}
.overflow-hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}
.no-grow {
  flex-grow: unset !important;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.spacer {
  flex-grow: 1;
}
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
.z-index-top {
  z-index: 1000;
}
.invisible-divider {
  border-color: transparent;
}

/*--------------------------------------------------------------------------
  Text
---------------------------------------------------------------------------*/

.article-body {
  max-width: 720px !important;
}
.article-medium-body {
  max-width: 600px !important;
}
.article-narrow-body {
  max-width: 520px !important;
}
.lettrine-icon {
  float: left;
}
.no-spacing {
  letter-spacing: unset !important;
}

/*--------------------------------------------------------------------------
  Actions
---------------------------------------------------------------------------*/

.app-action {
  cursor: pointer !important;
}
.app-no-action {
  cursor: default !important;
}
.simple-action {
  text-decoration: none;
}
.sliding-action {
	display: inline-block;
  text-decoration: none;
  color: #ffa600;
	padding-bottom: 1px;
}
.sliding-action:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .25s ease, background-color .25s ease;
}
.sliding-action:hover:after {
	width: 100%;
	background: #ffa600;
}
.sliding-action-blue:hover:after {
	width: 100%;
	background: #ffa600;
}

/*--------------------------------------------------------------------------
  Images
---------------------------------------------------------------------------*/

.hero-image {
  background-attachment: fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}
.image-caption {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  text-decoration: unset;
}
.image-caption:hover {
  opacity: 0.7;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*--------------------------------------------------------------------------
  Icons
---------------------------------------------------------------------------*/

.main-logo {
  height: 3rem;
  transform: translateY(-8px);
}
.main-logo-large {
  height: 6rem;
}
.site-icon {
  font-size: 48px;
}
.site-icon.large {
  font-size: 65px;
}
.site-icon.small {
  font-size: 18px;
}
.sup-icon {
  transform: translateY(-9px);
}

/*--------------------------------------------------------------------------
  Backgrounds
---------------------------------------------------------------------------*/

/* .faded-background {
  background-image: linear-gradient(transparent, var(--v-lightBackground-base));
}
.shadow-background {
  background: url($shadow-background) no-repeat left top;
  background-size: 100% 100%;
}
.fireworks-background {
  background: url($fireworks-background) no-repeat top center;
  background-size: cover;
}
.background-transparent {
  background-color: transparent !important;
} */

/*--------------------------------------------------------------------------
  Lists
---------------------------------------------------------------------------*/

ul {
  margin-bottom: 1rem;
}
ul.arrow-icons {
  list-style: disclosure-closed;
}
ul.no-icons {
  list-style: none;
}
ul.three-by-three {
  columns: 3;
}
ul.two-by-two {
  columns: 2;
}
.simple-list {
  padding-left: 0 !important;
  list-style: none;
  line-height: 1;
}

/*--------------------------------------------------------------------------
  Tables
---------------------------------------------------------------------------*/

.no-border {
  border: none !important;
}
.double-line {
  line-height: 1.5 !important;
}
.no-line-height {
  line-height: unset !important;
}

/*--------------------------------------------------------------------------
  Animations
---------------------------------------------------------------------------*/

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;
}
.slide-up {
  transform: translateY(-1%);
}
.slide-fade-leave-active,
.slide-fade-enter-active {
  transition: opacity 1s;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translate(-25%, 0);
  opacity: 0;
}

/*--------------------------------------------------------------------------
  Helpers
---------------------------------------------------------------------------*/
.first-vine {
  /* z-index: -1; */
  position: absolute;
  transform: rotate(20deg) translate(-50px, -100px);
}
.side-vine {
  z-index: -1;
  position: absolute;
  transform: rotate(45deg) translate(-75px, -100px);
}
.side-vine-right {
  right: 0;
  transform: rotate(-45deg) translate(0px, -0px);
}
.straight-vine {
  transform: rotate(0) translate(95%, -95%);
}
.straight-vine-right {
  transform: rotate(0) translate(-95%, -95%);
}
.vine-nudge-left {
  transform: rotate(0) translate(-400%, -95%);
}

/*--------------------------------------------------------------------------
  Colors
---------------------------------------------------------------------------*/

.text-secondary-on-light {
  color: #ccc;
  color: var(--mdc-theme-text-secondary-on-dark, #ccc);
}
a.text-secondary-on-light:hover {
  color: #ccc;
  color: var(--mdc-theme-text-hint-on-dark, #ccc);
}
